[2017-04-10 18:48] putmantime opened #1 "Add oauth token as optional access token in Wikidata"

[2017-06-19 20:00] #1 closed

[2017-06-19 20:05] putmantime opened #3 "create organism-wide activity feed"
Data visualizations that report editing activity to organism specific items.

[2017-06-19 20:06] putmantime opened #4 "data validation on mutant annotation forms"
-add reference base and coordinate constraints

[2017-06-19 20:06] putmantime opened #5 "build instructions"
-create project build instructions and setup scripts to launch custom XBase instance

[2017-06-19 20:08] putmantime opened #6 "CC/MF/BP-specific review language"
-refactor annotation review text templates to each GO domain

[2017-06-19 20:13] putmantime opened #7 "Localization Visualization module"
-graphical visualization of the subcellular localization based on the cellular component go annotation

[2017-07-06 17:54] putmantime opened #8 "faceting genes by different data types"
Search results can be faceted based on data like expression timing and mutant availability

[2017-07-06 17:57] putmantime opened #9 "host pathogen interaction module"
Identify other bacterial genes that interact with the same host entity.
Effectors etc.

[2017-07-06 17:59] putmantime commented on #9
Identify host pathogen database resources
(e.g. http://www.agbase.msstate.edu/, http://eupathdb.org/eupathdb/)

[2017-07-07 18:48] putmantime opened #10 "Tn Mutants not showing up in JBrowse"
Needs to be fixed by including in mutants gff file

[2017-07-07 18:52] khybiske opened #11 "create a "Why Chlambase?" / About page"
I think the site needs a page that explains what chlambase is about, and briefly lists its unique features and advantages over other gene-based databases. Looks like wikigenomes has an 'About' section. Something like that... but maybe more feature-driven. I can imagine encouraging some colleagues to explore the site, and it's not immediately obvious what chlambase can do that other sites cannot.

[2017-07-07 19:16] khybiske opened #12 "Add visualization of ortholog alignments"
A cool feature would be to (in the **Orthologs** window) add a button that triggers a script/webapp(?) that aligns the sequences listed (maybe checkboxes for user to choose). At worst, this is a BLAST. But surely there must be better web functions for this, like clustal...?

[2017-07-07 19:19] khybiske commented on #8
I would implement it by having expression and mutants open up a window or dropdown that lets the user check which subcriteria they are interested in. For example, I click mutants and check which of the subtypes (chemical-stop, chemical-syn, chemical-nonsyn, transposon, etc) I want. Also a keyword search box.

[2017-07-07 19:34] khybiske commented on #11
Another example: http://toxodb.org/toxo/showXmlDataContent.do?name=XmlQuestions.About

[2017-07-07 19:42] khybiske opened #13 "Quick download of sequence"
Feature request :: Possible to add little links under Gene and Gene Product to quickly copy to clipboard (or open up a FASTA window) the particular sequence? Maybe also allow the user to do that under orthologs... That's something I (and presumably others) do frequently. Would save so many steps!

[2017-07-07 20:01] putmantime commented on #13
Currently jbrowse has a download feature that will get the DNA sequence.  When you click on the feature there is a download glyph.  I will have to think about how to get gene product sequences

[2017-07-07 20:06] khybiske commented on #7
Something like this? (for an inclusion membrane protein)
<img width="396" alt="screen shot 2017-07-07 at 12 54 22 pm" src="https://user-images.githubusercontent.com/29986637/27974945-0fb06dda-6315-11e7-94a3-b64401fc37a8.png">

[2017-07-07 21:08] khybiske commented on #9
Here are some actual examples to use for piloting.
[HPI chlambase.xlsx](https://github.com/SuLab/ChlamBase.org/files/1132321/HPI.chlambase.xlsx)

In implementation, I'd love if **evidence** was filterable. There are some Incs, e.g., from the 26118995 proteomics dataset, that have dozens of host 'targets'. Many of these are probably not accurate, but for now it's all we have. As a user, I'd like th

[2017-07-07 21:13] khybiske commented on #9
The host protein target is the real action item of this module. At its simplest, it could/should link out to a richer db entry (wikipedia, UP, whatever). But even better, the module could alert the user, or allow the user to query if any entries in wikigenomes also interact with this target.

[2017-07-10 21:33] putmantime commented on #9
To start with, I modeled the first pathogen-host interaction in the table you provided in Wikidata
https://www.wikidata.org/wiki/Q21168208  Seems like all the pieces are already in place and these are published claims so they might as well go in WD if this looks good.

[2017-07-10 21:39] khybiske commented on #9
That does look good, on the wikidata end. It just occurred to me that this example probably used L2 experimentally, even though these authors may discuss IncD as CT115 (we are all guilty of that). This brings up a question about how rigidly we annotate an interaction for a given Chlamydia strain. As you know, labs rarely check findings for other strains, and we pretty much _expect_ that molecular

[2017-07-10 21:40] khybiske commented on #9
I don't have a good solution. One idea might be to classify an interaction entry as **established** (for the ones used in the references), or **predicted** (for orthologs).

[2017-07-10 21:43] putmantime commented on #9
Oh.  Then this comes down to that one sentence in so many C. trachomatis papers "We have translated to  the DUW3"  Locus tags.

I think your right that the claim should be made on the strain that was experimented on then any orhtologs should be qualified as predicted or something like that

[2017-07-10 21:47] khybiske commented on #9
I'm on board with that.

[2017-07-11 14:36] putmantime opened #14 "Syncing JBrowse with interface"
When clicking on a gene feature in jbrowse the interface should redirect to that gene page.

[2017-07-11 18:08] putmantime commented on #9
Here is an prototype model of the first entry (incD) of https://github.com/SuLab/ChlamBase.org/files/1132321/HPI.chlambase.xlsx in Wikidata.
As discussed in the issue thread, the L2 strain is the one that was actually experimented on so I created the claim on  L2/434/bu https://www.wikidata.org/wiki/Q21172774
with the ‘determination method’ qualifiers co-localization evidence (Q32860432) and immun

[2017-07-11 20:41] stuppie commented on #9
To restate discussion from meeting:
1) Link the two genes as orthologs. Unless there is another primary source for this, the reference would be you/Tim Putman/Wikigenomes.org ? The interacting proteins could be queried explicitly through orthologs.
2) If you annotate the other gene using the 'determination method' 'sequence orthology evidence', you should include the ortholog as part of the claim

[2017-07-12 20:17] #10 closed

[2017-07-12 20:17] putmantime commented on #10
fixed

[2017-07-13 23:08] putmantime commented on #14
I have implemented a callback in the trackList.json gene track that will load the gene page by clicking a gene feature. Needs to be further developed to allow first loading the gene data modal, then selecting to load the gene page in a link.

[2017-07-13 23:09] putmantime opened #15 "show expression data for orthologs"
Leaning towards showing expression timing for all orthologs in the expression timing box

[2017-07-13 23:11] putmantime opened #16 "search chlambase by annotation features (GO, expression timing, etc.)"
Challenging as the SPARQL queries become too big as more and more data is included in the request

[2017-07-13 23:11] putmantime opened #17 "reference not being recorded for new mutant annotations"

[2017-07-13 23:11] putmantime opened #18 "add gene symbol to host-protein interaction table"

[2017-07-13 23:12] putmantime opened #19 "improve ortholog data"
A joint effort has been discussed to create a robust ortholog table that includes evidence

[2017-07-13 23:13] putmantime opened #20 "enable comparison of genomic context to orthologs"
Multiple genome comparison with orthologs aligned.
-likely multiple jbrowse instance stacked

[2017-07-13 23:14] putmantime commented on #15
-Will incorporate expression timing data for D strain from different paper

[2017-07-14 16:46] putmantime opened #21 "Related publications form"
Include form for adding publications that are relevant to current gene

[2017-07-14 16:55] khybiske commented on #21
To me, this one is very low priority. Although perhaps simple to do...

[2017-07-14 17:06] andrewsu commented on #12
MUSCLE (multiple sequence alignment algorithm) has a REST web service here: http://www.ebi.ac.uk/Tools/webservices/services/msa/muscle_rest

nice little MSA viewer widget: http://msa.biojs.net/

stitching this all together might be a nice intern/rotation project...

[2017-07-14 17:12] putmantime commented on #12
This looks great.  I will play a few example API calls and post results here.

[2017-07-14 17:26] khybiske commented on #12
That's really neat (for aa sequences). For most other organisms in wikigenomes, aa alignments will be a great tool. Chlamydia is a little unique in that the DNA sequences across species are conserved, which is why we also are fond of gene alignments for orthologs.

[2017-07-14 17:58] putmantime opened #22 "Add PDB entries"
-possible issues  in identifier mapping with PDB and Uniprot/NCBI

[2017-07-14 17:58] andrewsu commented on #12
both protein and nucleotide MSAs should be possible with MUSCLE and the biojs widget I think.  Unless you @khybiske saw something that says otherwise?

[2017-07-14 18:00] khybiske commented on #12
You are right. I had only clicked their 'use it' button...

[2017-07-14 18:01] putmantime commented on #12
I just did a nucleotide alignment:
http://www.ebi.ac.uk/Tools/services/web/toolresult.ebi?jobId=muscle-I20170714-190003-0316-2963421-oy

[2017-07-17 21:22] putmantime commented on #19
example data model:

[2017-07-17 21:33] andrewsu commented on #15
Need to get data sources for other strains (from Dan?)

[2017-07-17 21:36] andrewsu commented on #11
@khybiske want to take a crack at creating some text for this?

[2017-07-18 16:49] khybiske commented on #15
Expression data for Ctr D comes from this study: 21051342. "Wonderful" example where the paper contains very little data for us to use. Scott happens to have their raw excel file. See attached. I think tab 4 best contains what we're after, but I'm checking with Scott.

[Belland array table.xlsx](https://github.com/SuLab/ChlamBase.org/files/1156648/Belland.array.table.xlsx)

[2017-07-18 17:36] #17 closed

[2017-07-18 19:10] putmantime commented on #14
I implemented a function called 'load this gene page' to the 'right-click' dropdown list of the gene features.    So 'left-click' will again give you the details box and right-click will allow you navigate chlambase to that gene page

[2017-07-18 19:22] andrewsu commented on #14
Tim, on my browser, left-double-click opens details and right-click opens the menu.  However, on web pages I think most people only discover left-single-click actions (which right now currently does nothing).  I would suggest having left-single-click open the menu.

[2017-07-19 18:46] putmantime commented on #14
Desired behavior:
Left click triggers the context menu where you can choose to navigate to gene page or view the details box.

Current behavior :
left-click:  navigate directly to gene page
right-click: trigger context menu where you can choose to display details box or highlight gene.

Switching the context menu to the left-click event is proving very difficult as interacting with the DOM in the

[2017-07-20 16:20] khybiske commented on #15
Tim, regarding the excel file for gene expression data. Scott says the last tab is the one we want to process.

[2017-07-20 19:51] khybiske commented on #11
Here is a first draft of some text:

**About ChlamBase**

ChlamBase, a fork of WikiGenomes, is an open source, user-curated database of functional annotations for 3 model Chlamydia species: C. trachomatis LGV L2, C. trachomatis D, and C. muridarum Nigg. A primary goal of this  portal is to provide a powerful user-oriented experience tailored to the research interests of the Chlamydia research comm

[2017-07-20 21:08] putmantime commented on #11
Looks great Kevin.  I will add this to the landing page

[2017-07-20 21:10] khybiske commented on #11
I feel like it should also remain accessible even after the user has drilled into a genome or gene. But not sure where it should go...

[2017-07-20 21:11] putmantime commented on #11
That's a good idea.  I can create a persistent footer that is there on every page

[2017-07-20 23:47] putmantime commented on #13
Added a download button to the protein sequence that will get the fasta from ncbi eutils.  Tried to add same functionality to nucleotide sequence as well but the entrez gene ids seemed to be mapped incorectly for genes in chlamydia.  Maps them to human genes, even though same api call for other bacteria work.  I have submitted this issue to NCBI's technical support.  For now the nucleotide sequenc

[2017-07-21 03:50] khybiske opened #23 "Site name"
Not really an "issue".

Keep as ChlamBase.org or change? Worthy of a discussion.. Most related portals seem to use ___base or ___db, so both ChlamBase or ChlamDB are appopriate. The chlamdb.org domain is also available. ChlamydiaBase and ChlamydiaDB are not as good – needlessly long. Any better ideas?

[2017-07-21 17:11] khybiske commented on #15
Wrong PMID reference for the C. trachomatis D expression data. It comes from here: 12815105

[2017-07-21 18:44] putmantime commented on #15
This is great data, but if we are going to include it it we need to find consistent way to report it on ChlamBase.  The L2 data was binned to 'early' , 'mid', 'mid-late' etc.
How dow we go about this for the DUW3 data?

[2017-07-21 21:08] khybiske commented on #15
Hmm, let me chew on that and get back to you

[2017-07-22 13:12] andrewsu opened #24 "create a chlambase icon"
Perhaps something based on one of these images?
https://www.google.com/search?q=chlamydia+pathogen&tbm=isch

If @putmantime and @khybiske can agree on one or a few representative images, we can get a graphics person to make it into a proper icon...

[2017-07-22 15:35] khybiske commented on #24
If for the site itself (header etc), I'd rather draw something (frankly I'm pretty good at it). All of 'stock imagery' are either inaccurate or bad.

If for a favicon, that's less my expertise.

[2017-07-22 15:50] andrewsu commented on #24
@khybiske just waiting for you to accept the invitation to be a collaborator so I can assign this issue to you... ;)

[2017-07-22 16:24] khybiske commented on #24
@andrewsu Done, I think.

[2017-07-24 17:59] khybiske commented on #15
@putmantime My recommendation is that we do not try to harmonize the two data sets. I don't see how. Richard analyzed L2 at 6, 12, 18, 24, and 36 hpi. Harlan analyzed at 1, 3, 8, 16, 24, and 40 hpi. I suggest you keep the L2 data as they are, albeit with one minor change (**can you slide mid_late over the left, between mid and late?**). For the D data, go with:
- Constitutive
- Immediate early (1

[2017-08-02 16:58] khybiske opened #25 "Expression module"
@putmantime What do you think about renaming the 'Expression timing' module to just 'Expression'. I can imagine putting under that (i) Expression timing (as you have now), (ii) Ortholog expression timing (as planned), (iii) EB or RB protein expression (data we can add during our TBD jamboree), (iv) Graphical representation of where the protein is secreted to (later).

Your thoughts?

[2017-08-02 16:59] khybiske commented on #11
This is all done, right? The implementation looks great!

[2017-08-02 17:05] andrewsu commented on #15
oh, meant to chime in on this.  I agree with @khybiske's last comment -- I don't think it would be necessary or desirable to try to normalize each data set.  I'd use the labels that the authors used, and let the users of chlambase do whatever interpretation/alignment of those labels that they deem appropriate...

[2017-08-02 17:16] putmantime commented on #11
Yes, forgot to tag this commit: 8cdb7f5c02f08cf907a8c9927cef1effde1c8de0.
Leaving open in case there are any suggested modifications

[2017-08-02 17:41] putmantime commented on #15
Referenced by @khybiske in Issue #25 as well.  I think that the only challenge is that creating a visual like the existing one requires interpretation of the table and applying some sort of threshold.  Are we suggesting moving away from the distilled visualization model to essentially just mirroring the table from the pub?  If so it seems we need a way to present any table caption that explains th

[2017-08-02 17:54] andrewsu commented on #15
what about using something like this from the google charts api? https://developers.google.com/chart/interactive/docs/gallery/candlestickchart

[2017-08-02 18:02] khybiske commented on #15
Ok, so I agree this is a little more challenging that I first thought. However arbitrarily, Stephens at least classified expression patterns into naming classes that we could copy. Caldwell just has numeric values, and inferring from how the paper discusses genes defined/classified as 'immediate early' or 'early', I think we can extrapolate to all other genes. For Inc genes, I entered data and mad

[2017-08-02 18:52] putmantime commented on #15
@andrewsu  I like the Candlestick charts but  I think the central issue that remains when we want to compare ortholog expression timing is how do we compare one number to the other when the hpi timepoints are different?  @khybiske I like the histograms, agree that visual model is most satisfying for a summary page of the gene like chlambase offers, but I think the central issue I mentioned require

[2017-08-02 19:24] andrewsu commented on #15
@khybiske assuming that the sparklines in excel qualify as "charts"?  If so, what do you envision for "visual models"?

@putmantime I absolutely think that it should be a different image (model?) for each data set...

I should also note that while having the discussion is great and should continue so we can converge on a design, I do think that @putmantime should focus whatever development time he

[2017-08-02 20:37] khybiske commented on #15
@andrewsu By visual models, I just meant what Tim has already done. Sorry for any confusion!

I fully agree that this issue is probably not the best use of Tim's time, and that there are higher priority items to knock off. Perhaps the simplest way to deal with this is to scrap trying to show expression data for ortholog strains. For example, we leave L2 as you have it, and just do something simila

[2017-08-03 00:32] andrewsu commented on #15
@khybiske so if I understand your proposal correctly, we show L2 expression data on L2 genes only, and show Ctr D expression data on Ctr D genes only.  Each data visualization (eg axis labels) would be tailored to its own data set, with no attempt to normalize.  If an end user wants to see expression data for the ortholog, then they click over to that page using the link in the ortholog module.  I

[2017-08-03 01:08] khybiske commented on #15
@andrewsu Correct! And as a matter of personal preference, I like Tim's current approach of indicating expression times (early, mid, late, etc) rather than a graph or similar quantitative representation.

[2017-08-03 03:11] putmantime commented on #15
Ok, so I will create a new model for the Ctr D data that uses it's own expression timing vocabulary, and the user can compare by clicking on the ortholog link between L2 and D.

[2017-08-03 19:37] putmantime commented on #15
@andrewsu @khybiske  Here is my main issue with doing the same with the D (Belland) data as I did with the data for L2.  The L2 data from the original table you sent us was binned into the different groups by someone or an algorithm already (guessing it was the former).  Essentially a call was made that the numbers jumped at 3 hrs and stayed high so it was an Early.  Or the numbers stayed low unti

[2017-08-03 23:01] khybiske commented on #15
Hmm, all of this sounds like a poor use of your finite time. What about simply putting in the code so that data entry is possible by users (i.e. us). Then when Scott and I attempt a data entry bonanza, we can make those calls with the Belland data and add entries to the site. Possible?

The only issue I see is that your Expression Timing module is fixed – does not allow annotation addition.

Worst

[2017-08-04 00:13] andrewsu commented on #7
Examples of interactive localization widgets:

* [GDC Data Portal](https://portal.gdc.cancer.gov/)
* [TISSUES](http://tissues.jensenlab.org/Entity?figures=tissues_body_%&knowledge=10&experiments=10&textmining=10&homologs=10&type1=9606&type2=-25&id1=ENSP00000266970)

[2017-08-04 16:24] khybiske commented on #7
@andrewsu Have you seen this one?

http://www.proteinatlas.org/ENSG00000148396-SEC16A/cell

Effective and appropriate, however Tim says we cannot swipe their code. Ultimately, I think if we just make a series of graphics for all of the organelles/locations we could have (tailored to chlamydia infected cells), then the annotation can just trigger a particular one to display. Not hard. I can do imag

[2017-08-04 16:31] andrewsu commented on #7
great, I knew I was missing one (at least).  Ideally it would be something more clever than static images -- creating all combinations of expression patterns would be cumbersome.  Anyway, I see this as a nice-to-have, so tagging this as "help wanted" in case we get a enterprising student or intern that needs a project...

[2017-08-04 19:55] andrewsu commented on #15
I would definitely _not_ be in favor of crafting an ad hoc algorithm to try to cram the Belland data into something resembling the L2 data.  I think those should be treated as two completely independent data sets, and chlambase's presentation should be tailored to each.  L2 data was categorized, so the "tag" style marks we have are perfect.  Belland data is numeric, so presentation of that should

[2017-08-05 15:09] putmantime commented on #13
There is now download capabilities for both Protein and nucleotide sequences

[2017-08-05 15:09] #13 closed

[2017-08-31 16:59] putmantime commented on #14
Add locust tag to mouse over message

[2017-08-31 17:02] #11 closed

[2017-08-31 17:04] #18 closed

[2017-09-05 16:57] putmantime commented on #5
Created the [wikigenomes_base](https://github.com/SuLab/wikigenomes_base) repository with build instructions and pointed to it in chlambase/README.md

wikigenomes_base is  a generic instance of the wikigenomes codebase that allows creating a custom application with the taxids of the user's choice in a master config file

[2017-09-05 16:57] #5 closed

[2017-09-06 21:00] andrewsu commented on #19
per discussion with @khybiske, we want to set up a hybrid computational-manual pipeline to define orthologs.  Initial criteria would include:

* % sequence similarity
* synteny
* reciprocal best match

Next step will be for Kevin to propose thresholds/groups based on the above criteria.  Basic goal is to identify ortholog assignments that need manual curation.

[2017-09-07 19:05] andrewsu opened #26 "look into journals to submit chlambase paper"
Pathogens/ID/Microbiome options
* PLoS Pathogens
* Cell Host & Microbe
* [Infection & Immunity](http://iai.asm.org/)
* [BMC Microbiology](https://bmcmicrobiol.biomedcentral.com/)
* [Pathogens and Disease](https://academic.oup.com/femspd)

Genomics options
* BMC Genomics
* NAR
* PLoS One

@khybiske @putmantime feel free to add others I've missed.  My task is to look at if any of the pathogen-specif

[2017-09-07 20:28] khybiske commented on #26
I like NAR the best, especially after looking up where similar db's have published (toxodb, eupathdb, etc). Another possibility is Bioinformatics

[2017-09-27 16:51] khybiske opened #27 "UX suggestion"
Easy one. Some users have mentioned they don't know what to do from the home page. I might suggest we somehow guide the user to click one of the 4 boxed genomes. e.g. color them, or put a fat arrow to the left of the tree...

[2017-09-28 22:22] khybiske commented on #19
@andrewsu After some discussion and thought, we hopefully have some directions to pursue. The criteria for defining orthologous genes between Chlamydia species/strains should be what you listed above.

For assigning arbitrary thresholds, I might go with the following (all orthologs should share synteny and reciprocal matching):
- Very high confidence (>90% sequence identity)
- High confidence (>50

[2017-09-29 03:29] andrewsu commented on #19
I think the criteria the define reciprocal best match are clear, but how about for synteny?  Seems like a fuzzier concept to me. Thoughts on how to make that an easily computable metric?

[2017-09-29 15:11] khybiske commented on #19
I don't know how easy it is to computationally assess synteny. At its simplest, it would be that the genes before and after the one in question are the 'same' (homologous). Perhaps not that easy to implement...

For Chlamydia, we likely don't have to deal with synteny since nearly all of the genes across species are in synteny. I am almost certain that if we scrub a genome and find genes that aren

[2017-09-29 18:21] andrewsu commented on #19
got it...  okay, two last questions (which I think we covered in our last phone call, but I forget). Was this something that we were going to tackle on our end, or something that one of your labs was going to do?  And is this a must-have for the first paper, or a nice-to-have (that maybe we incorporate on revisions)?

[2017-09-29 19:43] andrewsu commented on #27
in hipchat discussion, @djow2019 suggested using intro.js for this, which I think sounds great.  I think we'd just need 4 steps to the intro: 1) the four strains, 2) the genome search, 3) the keyword search, and 4) the "what's happening" carousel.

[2017-09-29 20:41] khybiske commented on #19
I think you guys were maybe going to tackle the initial ortholog assignments, computationally (someone new who joined?). The manual analysis will then be done by us, for all ambiguous genes.

Is it a must have.... probably not. The existing ortholog module already constitutes a feature that no other general databases possess. What we are discussing is just a significant enhancement.

[2017-09-29 20:43] khybiske commented on #27
Great idea! But will that script come up each time someone accesses the site, or is it smart enough to know I am a return visitor and keep quiet?

[2017-09-29 20:47] djow2019 commented on #27
It should only run for first time visitors, so it will only display once.

[2017-09-30 23:08] djow2019 commented on #27
Here is what the tutorial looks like right now:

![screenshot from 2017-09-30 16-01-51](https://user-images.githubusercontent.com/3160053/31050221-4e6734c4-a5f9-11e7-8f83-901b6286798e.png)
![screenshot from 2017-09-30 16-02-03](https://user-images.githubusercontent.com/3160053/31050223-510679b0-a5f9-11e7-9189-9689c9843375.png)
![screenshot from 2017-09-30 16-02-10](https://user-images.githubuserco

[2017-09-30 23:31] andrewsu commented on #27
This looks great! What do people think about having this intro be triggered
after clicking a "get started" button somewhere near the top of the page,
instead of starting by default for first time visitors?

On Sep 30, 2017 4:08 PM, "Derek" <notifications@github.com> wrote:

[2017-10-01 00:41] djow2019 commented on #27
Personally, I would prefer without the button because it saves me a click. But a button at the top might be nice in case someone wants to watch the tutorial again without clearing the cache.

[2017-10-02 16:49] khybiske commented on #27
My vote would probably be for a 'get started' button. I like the tutorial feature.

[2017-12-11 21:39] #12 closed

[2017-12-11 21:39] #27 closed

[2018-03-09 20:10] andrewsu opened #31 "display mouseover evidence codes in Gene Ontology module"

[2018-03-09 20:16] andrewsu opened #32 "manual review all annotations with curator WikiGenomes"
need to be sure no test edits made it into wikidata....

[2018-03-09 20:24] andrewsu opened #33 "enhance cellular component annotation wizard to differentiate host vs bug"
For example, a user may want to annotate a localization to "golgi", but that undoubtedly should refer to "host golgi".  Our wizard should guide people...

[2018-03-09 20:36] andrewsu opened #34 "collect data on host cell localization"
doesn't have to be complete, just enough example cases to show in paper.

[2018-03-09 20:43] andrewsu commented on #34
kevin will provide a list of genes that localize to inclusion membrane

The list of all possible localizations can come from the SVG -- @putmantime and I need to find closest mappings in GO (and request new terms if necessary)....

[2018-03-09 20:50] andrewsu opened #35 "for all wizards, add a "Need help?" link"
all boxes are constrained to wikidata items (for items, determination methods, mutation types, etc.) so we need to add something that says "Need help?" in case a user can't find the right term and needs to email us.

[2018-03-09 22:27] khybiske commented on #34
Done!  I tabulated all of the relevant genes: [google sheet](https://docs.google.com/spreadsheets/d/1HlLI1EoBGeA2YHu15ZVGVVbycI2cxoTHSY2mzWq1mDw/edit?usp=sharing)

[2018-03-12 17:14] putmantime commented on #32
Cleared residual WG test edits

[2018-03-12 17:14] #32 closed

[2018-04-02 02:43] #31 closed

[2018-04-02 02:43] #35 closed

[2018-04-02 20:41] andrewsu commented on #23
after letting this one percolate for nine months, going to close this issue.  We've used "chlambase" enough in posters, talks, and abstracts that I think it would tough to change at this point...

[2018-04-02 20:41] #23 closed

[2018-04-02 20:49] andrewsu commented on #19
given @djow2019's initial work performing the computational analysis, @khybiske's subsequent review, @putmantime's work posting [the resulting file on figshare](https://figshare.com/articles/Chlamydial_Ortholog_Mappings/5866950/1) and updating wikidata, and then @djow2019's work to update the website to use those data (I think in this commit 5fd0fd0c1b3778f11e7f6b90bd0c6c7c91b43a37), I think this

[2018-04-02 20:49] #19 closed

[2018-04-02 22:31] andrewsu commented on #34
@khybiske three questions for you...

First, you annotated CT456 / CTL0716 / TC0741 to "actin cytoskeleton".  I just want to confirm that you mean the _chlamydia_ actin cytoskeleton and not the host actin skeleton, correct?

Second, just to be sure we get it right, can you highlight/describe exactly what should be colored for "inclusion membrane"?  Is it the outer ring of the shaded circles?  Just

[2018-04-02 22:35] andrewsu opened #37 "set up https via letsencrypt"
because the entire web is going https these days...

[2018-04-03 15:42] khybiske commented on #34
@andrewsu
1. I actually do mean the host actin cytoskeleton (the straw like stuff close to the plasma membrane). I chose this CT example as one that we know is secreted into the host cell. Annotating proteins like this (CT has ~100 of them) is pure magic if we can capture that.

2. Inclusion membrane = the nucleus-size membrane encircling all of the bacteria. I made 2 sizes of bacteria, EB (shaded

[2018-04-03 15:52] andrewsu commented on #34
great, thanks!

1. I updated the google spreadsheet to say "host actin cytoskeleton".

2. Super, very clear now, thanks.  I think annotating at least one example gene for each of those four compartments would be great actually...

3. Great, let's use the same google sheet that you prepared.  I added two columns for "PMID of supporting paper" and "Specific Gene ID studied in paper".  No need to fil

[2018-04-03 19:34] djow2019 opened #38 "Bug: Unable to load sparql query in root.json"
Unable to load sparql_data/sparql_data_243161/names/root.json status: 404

[2018-04-03 19:37] djow2019 opened #39 "Bug: f[0] is undefined"
in bootstrap.min.js:6:6886

[2018-04-03 19:38] djow2019 opened #40 "Cross-origin request blocked"
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://enzyme.expasy.org/EC/4.2.1.24.txt. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).

see http://chlambase.org/organism/471472/gene/CTL0017

[2018-04-03 19:42] djow2019 opened #41 "Dojo loading failed"
Loading failed for the <script> with source “http://127.0.0.1:8000/static/wiki/js/JBrowse-1.12.1/src/nls/dojo_en-us.js”.

see http://chlambase.org/organism/243161/gene/TC_RS00020

[2018-04-03 19:50] khybiske commented on #34
@andrewsu 'Specific Gene ID' = what exactly? NCBI #?

[2018-04-03 19:51] djow2019 opened #42 "data.data.results.bindings[0] is undefined"
in controller/ctrl.$onInit/<@http://127.0.0.1:8000/static/wiki/js/app/go-form/go-form.component.js:12:36
and
controller/ctrl.$onInit/<@http://127.0.0.1:8000/static/wiki/js/app/operon-form/operon-form.component.js:15:36
and
TypeError: ctrl.currentGene.proteinQID is undefined[Learn More]
mainpage-view.component.js:86:29
TypeError: ctrl.geneQID is undefined[Learn More]
mutant-single-form.component.js

[2018-04-03 19:54] djow2019 opened #43 "align orthologs in display widget"

[2018-04-03 19:55] andrewsu commented on #34
@khybiske I would say any of the gene symbols from columns A-C, e.g., CT005, CTL0260, or TC0273.  I changed "gene ID" to "gene symbol" in the header to hopefully make that clearer...

[2018-04-03 20:06] khybiske commented on #34
@andrewsu I'll get this done by tomorrow. Is Derek working on the implementation?

[2018-04-03 20:49] khybiske commented on #34
@andrewsu Sheet is done!

[2018-04-04 00:15] andrewsu opened #44 "oauth authentication not working"
No response to clicking "Authorize to edit" button in the upper right.  Error message from console:

![2018-04-03_17-14-35](https://user-images.githubusercontent.com/2635409/38282011-8b37e97a-3762-11e8-8e4c-35152e5f7515.png)

[2018-04-04 18:54] andrewsu opened #45 "test issue before posting to GO issue tracker"
This issue shows draft text to post on the GO issue tracker for input.  Comments welcome, all but particularly @khybiske

-----------

In the context of a wikidata-backed project called Chlambase, we would like to annotate the localization of a set of Chlamydia proteins to various compartments in the host and in the inclusion body (which is the nucleus-sized structure indicated by the red arrow):

[2018-04-04 19:06] khybiske commented on #45
I agree with our low confidence for the inclusion-related GO terms. Why a low confidence for the actin one?

[2018-04-04 19:11] khybiske commented on #45
@andrewsu I don't know if going outside GO is acceptable, but BTO:0001172 and BTO:0000377 are perfect matches for the 2 RB/EB developmental forms of Chlamydia that we have depicted in our image. Ideally, would be great to capture these annotations as we have that data for many proteins.

[2018-04-04 22:56] andrewsu commented on #45
Regarding actin, the reason I don't think this is appropriate is because if a chlamydia gene were annotated to this term, it would imply that it localizes to the an actin filament in chlamydia.  I think ultimately we'll need "host actin filament" term to be created...

Going outside GO is totally acceptable, and those BTO look great for RB/EB.  It might be worth you searching a bit in https://www.

[2018-04-15 18:57] #43 closed

[2018-04-15 18:58] djow2019 opened #47 "Change to "Your Email""

[2018-04-15 18:58] djow2019 opened #48 "Loading Message on Ortholog Display"

[2018-04-15 19:03] djow2019 opened #49 "Several genes show "doesn't seem to be a gene in this genome" on main page"
Example: see TC_RS00050 under Muridarum Nigg

[2018-04-15 19:06] djow2019 opened #50 "Mutant Single Form Qualifier change - need confirmation"
Changed P644[0].qualifiers.P2249 to P644[0].qualifiers.P1057 - is this correct?

[2018-04-15 19:07] djow2019 opened #51 "Fix wikidata query to include optional statements when getting cell component data"

[2018-04-16 13:11] putmantime commented on #50
This is correct, all qualifiers now point to the chromosome item(P1057) which has the refseq accession (P644)

[2018-04-16 13:29] putmantime commented on #49
It seems that these are genes that have no encoded proteins in wikidata.   Working on a solution now

[2018-04-16 13:36] putmantime commented on #49
Looks like the [protein bot](https://github.com/SuLab/scheduled-bots/blob/master/scheduled_bots/geneprotein/ProteinBot.py) is  '# only using items with exactly one swiss-prot or trembl ID'  and the mygene call for TC_RS00050 returns 2 ids in the trembl field. https://mygene.info/v3/gene/1245533 . Will have loop @stuppie in here and think about how to include thes.

[2018-04-17 00:34] djow2019 opened #54 "Create WD Items for Elementary and Reticulate bodies"
See here: https://www.ebi.ac.uk/ols/ontologies/bto/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FBTO_0001172

Use exact match: http://purl.obolibrary.org/obo/BTO_0001172

[2018-04-17 00:34] djow2019 opened #55 "Fix Inclusion Body divs in svg"
Will update as soon as the GO team responds

[2018-04-17 00:36] djow2019 opened #56 "Missing WD Item for CT_222"
CT_222 is not found in WD even though its referenced here Q36281361
also update ortholog CTL_0475 to include CT_222

[2018-04-18 21:19] #50 closed

[2018-04-23 22:49] andrewsu commented on #34
looks like we have all the data we need, so closing this issue

[2018-04-23 22:49] #34 closed

[2018-04-23 22:52] andrewsu commented on #39
@djow2019 trying to reproduce this error, but don't see it on the pages I'm checking. Can you provide more info please?

[2018-04-23 22:53] andrewsu commented on #38
@djow2019 trying to reproduce this error, but don't see it on the pages I'm checking. Can you provide more info please?

[2018-04-23 23:43] andrewsu commented on #56
Looks like CT_222 was discontinued: https://www.ncbi.nlm.nih.gov/gene/884897  which is why there is no WD item.  On the scale of things, I think this is the correct behavior.  @khybiske can you have a look and if you agree, close the issue?

[2018-04-23 23:55] andrewsu commented on #49
... and to note, this is a link that reproduces the error: http://chlambase.org/organism/243161/gene/TC_RS00070

[2018-04-24 19:49] andrewsu commented on #56
Yes, I think we should stay aligned with NCBI, but rather than waiting for users to complain I think we should proactively ask NCBI to review this case.  They have a form to request corrections here:
https://www.ncbi.nlm.nih.gov/projects/RefSeq/update.cgi. @khybiske, want to fill this out or shall I? either way, we should point them back to this github issues so they have the ability to comment he

[2018-04-24 20:07] khybiske commented on #56
Before we ping NCBI, I want to hear back from a colleague (Dan Rockey) to get his two cents. Make sure I am not imagining something.

[2018-04-24 20:10] khybiske commented on #24
I whipped up a possible new header logo for us to use. Take a look and comment on: whether you like it, alternative suggestions for me to try, and which typeface if you do like it. This is not meant to replace the splash page graphic, but rather to appear on every gene entry page.

I also included a sample favicon.

![chlambase headers](https://user-images.githubusercontent.com/29986637/39211461-7

[2018-04-24 20:11] khybiske commented on #24
@andrewsu I'll let you rally the troops to view and comment.

[2018-04-24 20:12] khybiske commented on #24
Favicons:

![favicon-16x16](https://user-images.githubusercontent.com/29986637/39211619-0c1c3dde-47c1-11e8-8628-1a0c73158e11.png)
![favicon-32x32](https://user-images.githubusercontent.com/29986637/39211620-0c31d216-47c1-11e8-95bd-6895ddce6386.png)

[2018-04-25 00:37] #54 closed

[2018-04-25 00:37] #55 closed

[2018-04-25 00:38] #33 closed

[2018-04-25 00:38] #7 closed

[2018-04-25 00:44] djow2019 commented on #44
I think the oauth token was overwritten back to empty the last time we pulled from the repo

[2018-04-25 00:50] djow2019 commented on #38
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/6429754e-95a0-4140-b5a9-17b7e4a08a03)

Ex: http://chlambase.org/organism/471472/gene/CTL0002

[2018-04-25 00:55] djow2019 opened #58 "AppData not found in chlambase.org production"
Only in the production version of chlambase we get the following error:
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/a612aaa1-005e-48eb-b4ff-601f4595a0d0)

Ex: http://chlambase.org/organism/471472/gene/CTL0001

[2018-04-25 01:08] djow2019 commented on #24
My vote is for Myriad Pro, and the favicon looks great! Also as a side note, Andrew mentioned that you have some pictures of the chlamydia pathogen that you've taken in the lab. Would you like to use one of those as the splash graphic instead?

[2018-04-25 16:27] khybiske commented on #24
@djow2019 I can look for something suitable. I have plenty.

[2018-04-25 16:32] putmantime commented on #24
Really like the Icons Kevin!  Perfect representation of Chlamydia and its unique life cycle.

[2018-04-25 17:00] khybiske commented on #24
Something like this..? I will also need some guidance on what sort of images you guys need, transparent or no, file format, etc. All of my web coding experience is from last century (literally).

![chlambase splash](https://user-images.githubusercontent.com/29986637/39260669-0989498c-486f-11e8-91c1-830f1e8044f5.png)

[2018-04-25 17:02] khybiske commented on #24
I am thinking that may be a little 'plain' now that I look at it... It needs something else. I couldn't find a good image that could be spread wide as a background. Can keep hunting...

[2018-04-25 17:07] putmantime commented on #24
Love the image and how it fades into black though.  I think the purple and black could work with the blue if we change the color of the 'Take the tour' button to be more in sync with the rest of the palette.  If you have more purple single cell images we could add those across the splash background.  Or maybe just one more, of a different shape on the other side?

Re: format I think just a jpg wou

[2018-04-25 20:36] djow2019 commented on #24
I made a quick UI wireframe of the landing page using your v2 graphic. I don't have the original picture you used, so in the real version the upper left corner will be expanded with the transparency effect as you have it above. Tell me what you think.

![image](https://user-images.githubusercontent.com/3160053/39271128-f37b8420-488c-11e8-91d5-82998993bc2a.png)

![image](https://user-images.githubu

[2018-04-25 20:51] khybiske commented on #24
@djow2019 What can I give you to make implementing that easier? I have the fluorescent banner image, also the ChlamBase text logo. The caption and orange button I assumed would be the text from the current site. I made my mockup in Illustrator, in case you have it for extracting whatever graphics you like.

The black background for the main content is fine. Probably makes more sense than blue.

[2018-04-25 20:59] djow2019 commented on #24
Just need the individual images - the text logo, the chlam graphic in the upper left, and the favicon icon

[2018-04-25 21:08] khybiske commented on #24
[chlambase.zip](https://github.com/SuLab/ChlamBase.org/files/1948847/chlambase.zip)
@djow2019 Everything should be in here. I saved images as .png to preserve transparencies. Also feel free to downscale them if too large.

[2018-04-25 21:29] khybiske commented on #24
If you feel black is too dark, maybe a gradient background? Black to ....?  Seems like something that css can do, but I also can't think of any website examples that do that. Maybe for a good reason.

[2018-04-26 21:32] khybiske commented on #56
@andrewsu What would we specify in the request form? Clarification on why the gene was discontinued? or request that it be reissued?

[2018-04-27 16:07] andrewsu commented on #56
Both/either?  I think we want to propose a reexamination of that discontinuation, and hopefully they'd share with us the rationale.

[2018-04-27 23:09] andrewsu commented on #20
on further contemplation this needs more thought...

[2018-04-27 23:32] andrewsu commented on #44
@putmantime I think Derek can help debug this one, but I'm not finding a link to a page that describes wikidata's oauth tutorial.  Can you send a pointer please?

[2018-04-27 23:45] djow2019 opened #59 "optimization"
https://developers.google.com/speed/pagespeed/insights/?url=chlambase.org&tab=desktop

[2018-04-29 21:55] djow2019 commented on #24
All black wasn't very good, I tried expanding the original banner image as a fill. What do you think?
https://www.dropbox.com/s/pnk4i1mbcj14b4i/screenshot.png?dl=0

[2018-04-29 22:25] khybiske commented on #24
@djow2019 I like that. Let me dig up the actual size image tomorrow so you don't have to expand the narrower one – it's on my office computer.

[2018-04-30 17:07] khybiske commented on #24
@djow2019 Try this one. You are welcome to scale/crop however you like. No fading on this image, doesn't seem necessary.

![splash](https://user-images.githubusercontent.com/29986637/39439947-288fbe54-4c5e-11e8-9c51-0b8423f04194.jpg)

[2018-04-30 20:31] djow2019 commented on #24
Ok, some quick AB Testing here. Heres the original:
![image](https://user-images.githubusercontent.com/3160053/39448573-27691680-4c7a-11e8-9e31-0b4fa4d7039e.png)

Now the same image, but changed to blue to match with the theme:
![image](https://user-images.githubusercontent.com/3160053/39448744-b51abe34-4c7a-11e8-8d0e-23437e6b0958.png)

[2018-04-30 20:45] khybiske commented on #24
I like the blue!

[2018-04-30 21:48] #24 closed

[2018-04-30 21:49] djow2019 opened #62 "Internal Server Error Ortho Alignment"
Locally it works fine, but in the production version it throws an internal server error when aligning orthologs

Edit: Splitting into 2 issues

[2018-04-30 22:02] djow2019 opened #63 "404 Clicking on gene in JBrowse"
Sometimes clicking on a gene in JBrowse directs you to a page with an incorrect URL:
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/fba59f32-83b9-4fe6-9e7e-1ca726fd3c35)
Should be /organism/taxID/gene....

[2018-04-30 22:09] djow2019 commented on #39
Can't reproduce it anymore. Marking it as fixed.

[2018-04-30 22:09] #39 closed

[2018-04-30 22:10] #42 closed

[2018-04-30 22:11] #58 closed

[2018-05-03 00:09] #37 closed

[2018-05-03 00:14] andrewsu commented on #37
... and just a note that this fix also required opening up port 443 for the AWS security group.

[2018-05-04 17:58] khybiske commented on #56
Sorry, I have not yet sent in the request. I'm dealing with a stack of grant and paper deadlines. As soon as the dust settles, I can do this.

[2018-05-12 00:10] djow2019 commented on #44
We need to configure the callbackURL to use a chlambase.org domain name. The application we use is the wikigenomes one https://meta.wikimedia.org/w/index.php?title=Special:OAuthListConsumers/view/c14cf96fc38ab0ff34352d0996768d9f&name=wikigenomes.org&publisher=&stage=1 which only allows wikigenomes.org callback urls.

[2018-05-13 19:29] djow2019 commented on #40
Loading of "mixed content" (Https -> http) is allowed in localhost and 127.0.0.1, but is not allowed in any other domain. This explains the discrepancy between our local versions and production

[2018-05-13 19:32] djow2019 commented on #62
Ortholog alignment issue was caused by a larger header size than the max allowed size. Increase header size by setting uwsgi parameter --buffer-size 32768

[2018-05-16 23:41] #41 closed

[2018-05-16 23:43] djow2019 opened #65 "Missing names/root.json"
Loading names.root.json is missing in JBrowse. I tried updating to JBrowse 1.14.1, and then ran bin/generate_names.pl for each taxon with and without the flag --hashBit 16, but the name generation script does not generate a complete name set and leads to more errors.

[2018-05-16 23:43] #65 closed

[2018-05-16 23:47] djow2019 commented on #62
Internal Server Error with mutant view was caused by MongoDB server connection. Need to install mongodb-server, and start the service. This fixed the error locally

[2018-05-16 23:50] djow2019 opened #66 "Missing appData.json"
Will need to look into this further...

[2018-05-20 18:59] djow2019 opened #70 "wikidata EC Numbers with single digit"
This is not a chlambase issue, but I wanted to report the  bug. For certain enzyme classes that have a single digit EC Number, the url is incorrect. See https://www.wikidata.org/wiki/Q14859873 (lyase activity). It links to https://enzyme.expasy.org/EC/4 when it should be https://enzyme.expasy.org/EC/4.-.-.- (padded with hyphens and periods at the end)

@andrewsu

[2018-05-20 21:35] #66 closed

[2018-05-22 15:56] andrewsu commented on #70
thanks @djow2019! copied the ticket to another issue in the appropriate repo...

[2018-05-22 15:56] #70 closed

[2018-05-23 03:08] #62 closed

[2018-05-23 03:12] djow2019 commented on #59
Integrated minification pipeline with grunt. Run "grunt minify" to update the code in /build.

Things left to do to increase performance further:
- concatenate the files into a single js file (to reduce the number of get calls)
- minify html (might not be necessary with g zip compression)
- Figure out bug with dependency injection and uglify plugin to  allow mangling variable names (tried ng annot

[2018-05-23 03:13] djow2019 commented on #44
updated the consumer key and secret to use chlambase.org application. Currently in proposed status, but the callbackurl is working now and at least redirects you to the login screen. Only the developer has access to login right now, but will work like magic once its accepted

https://meta.wikimedia.org/w/index.php?title=Special:OAuthListConsumers/view/c38063969dd943af4b468be0718b4514&name=Chlambas

[2018-05-23 03:16] djow2019 commented on #40
We set a reverse proxy through nginx to redirect calls made to enzyme.expasy.org to chlambase/expasy/{} which was then redirected back to enzyme.expasy.org/{}. This was the workaround since expasy.org does not allow cross origin domain resource sharing

[2018-05-23 03:16] #40 closed

[2018-05-23 03:20] djow2019 opened #73 "internal server error with pymongo"
Tried to restart the mongodb server module from the server, but the service failed to launch (parsing the config?). This module periodically crashes from a refused connection error which causes massive lag spikes on the chlambase server (and as far as I can tell this has been happening for a long time) and is pretty apparent when they occur since usually the navigation is fast. Its definitely drai

[2018-05-28 18:36] djow2019 commented on #73
I reinstalled mongodb and its dependencies and updated the config file. I tried starting the service with $sudo service mongod start, but I need password authentication....

[2018-05-28 19:58] djow2019 commented on #49
I modified the query to make the encoding property optional.
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/c78a9e17-a763-4671-89a2-ab79b39af1c2)
Now, it properly selects non-coding genes

[2018-05-28 20:01] #49 closed

[2018-06-01 17:05] djow2019 commented on #73
Issue caused by upgrading to mongo 3.6. Reverted back to 3.4.15. Mongod.lock file was created from root, which prevented the service from starting. Removing the lock file fixed the server issue.

[2018-06-01 17:07] djow2019 opened #76 "Create new volume on server computer"
memory is very full (95%). Need to create a new volume and copy mongodb to that new volume.
Use cp -rp to preserve permissions. Make sure to update dbpath in config file.

[2018-06-05 20:30] khybiske opened #77 "Create ortholog information icons"
In Orthologs module, create columns to display colored icons depicting:
Expression data
GO annotations
Operon data
Mutants
H-P intx

Show these for each checked strain

[2018-06-05 20:33] khybiske opened #78 "Edit/update Gene names"
Users will want to update gene names as they become characterized, e.g. change hypothetical proteins to their evidence-based names. How can we do this? The top panel right below jbrowse does not offer annotation submissions.

[2018-06-06 16:21] khybiske opened #79 "Filter mutants"
A helpful feature to add is allowing users to filter chemical mutants by SNV type. Possible to add a pop up filter box for that, next to the column header 'SNV type'?

An example gene with lots of mutants is [https://chlambase.org/organism/471472/gene/CTL0245](https://chlambase.org/organism/471472/gene/CTL0245). If I were a user, I'd love to filter for stop mutations of non-syn.

[2018-06-06 16:25] khybiske opened #80 "Advanced searching"
Let users search by multiple data fields. Another useful feature to add, should be easy..

Example:
Genome = C. trachomatis 434/Bu
Cellular component = inclusion membrane protein
Host-pathogen interaction = true (has an entry)

Very powerful and useful if we can do that.

[2018-06-06 20:40] djow2019 opened #81 "remove delete annotation from mutant view"

[2018-06-07 20:43] khybiske opened #82 "Ortholog module: download alignments"
Users might like to download aligned sequences, if there is any way to implement this. ..?

[2018-06-07 20:45] khybiske opened #83 "Ortholog module: protein sequences"
The DNA alignments are great. Can we do something similar for amino acid sequences? Maybe give users a checkbox to choose which?

[2018-06-08 23:01] khybiske opened #84 "Annotate C. muridarum transposon mutants"
@putmantime I created a little data table in figshare containing the mutants I would like to annotate in our database. Not clear to me if/when that data gets issued a DOI, or how to reference that in the annotation submission form. ?

[2018-06-12 19:24] djow2019 opened #85 "GO Data not displaying"

[2018-06-12 19:51] djow2019 commented on #85
Caused by missing Uniprot ID from call to wdGetEntities

[2018-06-12 20:38] #85 closed

[2018-06-12 20:53] #79 closed

[2018-06-12 20:53] #81 closed

[2018-06-12 23:19] djow2019 commented on #83
I decided to split up the ortholog module into two components: one for the table, one for the alignment. Will probably look something like this:
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/dbb60dc5-c18f-44f6-9138-21ecae65fbcf)

[2018-06-12 23:55] andrewsu commented on #83
Hmm, I'm of two minds on this reconfiguration.  On the one hand, I think this is great because it raises the visibility of the alignments.  On the other hand, the alignments are specifically of the orthologs and not of other sequences against which one might want to align.  Before @djow2019 gets too deep in implementing this, do either @khybiske or @putmantime have any strong opinions?

[2018-06-13 02:58] khybiske commented on #83
@andrewsu Excellent points. What if @djow2019 renamed his new 'Alignment' module as 'Ortholog alignments'? That would almost satisfy both sides of your argument, no? Alternatively, make it a nested submodule of Orthologs. Essentially, remove the blue banner. I am happy with either of these options. Although I am also perfectly happy with all variations of this that I've seen so far.

I might not c

[2018-06-13 20:54] khybiske opened #89 "Intron mutants"
A handful of intron mutants exist (<10) with PMID references. The field will be interested if chlambase could annotate them. For implementation, it would be a new subcategory (intron mutagenesis) and look just like transposon mutagenesis in terms of data fields.

[2018-06-13 22:09] khybiske commented on #80
This is the same as

[2018-06-13 22:10] khybiske commented on #80
Oops, this issue already exists as #16

[2018-06-13 22:44] djow2019 commented on #77
What do you think of this?
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/cab3c478-ccc2-4685-9a6d-9c1663ba31bd)

@andrewsu @putmantime I ended up querying all the data for each ortholog because I wasn't sure how else to check if the data existed. Is there a better way to do this?

[2018-06-13 22:52] khybiske commented on #77
@djow2019 I like it. Only suggestion is to add 'Mutants' as a category. To make room, you can delete 'Operon data' (that will be x for all genes right now).

I can't answer your querying question, but the logic sounds right to me. ;)

[2018-06-14 00:03] djow2019 commented on #82
Download button will now link to the raw fasta file from ebi

![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/3707902f-af84-47aa-971b-e0e5abc74a21)

[2018-06-14 00:51] djow2019 commented on #83
Got "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://www.ncbi.nlm.nih.gov/protein/NP_224891?report=fasta. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)." Again. Will need to set up another reverse proxy...

[2018-06-14 17:00] putmantime commented on #83
+1 on specifying that the alignments are ortholog specific

[2018-06-14 22:31] djow2019 commented on #83
To fix the domain issue, I just had to use the efetch url. Protein alignments are now working!
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/60dc8218-9737-4f5a-95b2-e32b999fbf97)

[2018-06-14 22:33] djow2019 commented on #83
I should add that in the above image, the muridarum strain did not have a protein coding product so it did not align that sequence.

[2018-06-14 22:48] djow2019 commented on #83
Cleaned it up
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/e0546ecf-9ef2-4739-884c-77acd80a0988)

[2018-06-14 22:53] djow2019 commented on #44
Gonna bump @putmantime
Consumer Key: c38063969dd943af4b468be0718b4514
More information: https://meta.wikimedia.org/w/index.php?title=Special:OAuthListConsumers/view/c38063969dd943af4b468be0718b4514&name=Chlambase.org&publisher=&stage=-1

[2018-06-14 23:14] khybiske commented on #83
Very nice! Is this function live now?

[2018-06-14 23:15] djow2019 commented on #83
Not yet, I'm working on adding the mutant column to the original ortholog table and then I'll make one large push to production after

[2018-06-14 23:38] djow2019 commented on #77
All done.
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/6875858b-425a-45aa-a012-7fad6d55fd4f)

[2018-06-14 23:43] #77 closed

[2018-06-14 23:43] #83 closed

[2018-06-14 23:43] #82 closed

[2018-06-14 23:51] djow2019 commented on #83
@khybiske Update is live

[2018-06-19 19:56] khybiske opened #91 "Add annotations to multiple gene orthologs"
Let's make it easy to spread new annotation data to relevant gene orthologs. Somewhere in each annotation submission form, ask the user to check boxes for other orthologs to copy the annotation to.  Should be unchecked by default, to avoid inadvertent copying. Maybe also on the final 'review annotation submission' view, make it clear to the user that they will be writing the annotation to addition

[2018-06-21 17:21] khybiske opened #92 "Ortholog module: does not load correct data for Mutants"
Most of the genes should have a check for 434/Bu. Right now I see an X for almost all of them. The table must not be loading the data properly?

[2018-06-21 17:45] khybiske opened #93 "Ortholog module: Reference entries are null"
Clicking them doesn't do anything. They should probably load up the references pertaining to checked fields in the table.

[2018-06-25 16:37] djow2019 commented on #44
After @putmantime contacted Epoch Fail on his wiki page, we got the chlambase application approved and now oauth works for all users.

[2018-06-25 16:37] #44 closed

[2018-06-25 18:06] #92 closed

[2018-06-25 19:42] #93 closed

[2018-06-25 21:47] djow2019 opened #96 "Crash on adding Host Pathogen Annotation"

[2018-06-25 22:54] djow2019 commented on #96
Found the exact line causing the crash.
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/9ac74fc0-1ece-4327-8179-448680857aa4)

Output with print statements:
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/fcc27cc3-7e91-47f7-beb4-f95ad0e4bf8b)

[2018-06-25 23:15] djow2019 commented on #96
Specifically, passing the parameter "wd_item_id=..." causes it to become unresponsive. Tried setting a hard value like so:

wd_item_protein = wdi_core.WDItemEngine(wd_item_id='Q21168345')

But it also crashed the server

@putmantime @andrewsu Thoughts?

[2018-06-25 23:47] djow2019 commented on #96
Problem with outdated wdi. Going to update it now.

[2018-06-26 16:59] djow2019 commented on #96
HP now works, going to check with other annotations.

[2018-06-26 17:05] djow2019 opened #97 "no autofill selecting dropdown in cellular component annotation"

[2018-06-26 17:17] khybiske commented on #97
@djow2019 I noticed that as well, but when I tried it for a gene (can't remember which one) it remembered my choice as I went further along with the submit window.

[2018-06-26 17:20] djow2019 commented on #97
Ah you are right. There should be a button that is displayed below your choice in green (that is not displaying)

[2018-06-26 17:31] djow2019 commented on #96
@khybiske when you get a chance, can you try resubmitting the annotation in the host pathogen interactions module? I believe it is fixed...

[2018-06-26 17:31] #73 closed

[2018-06-26 17:37] khybiske commented on #96
@djow2019 I just submitted one for CTL0260 and it said I was successful. Let's see if it updates.

[2018-06-26 17:45] djow2019 opened #98 "Cell visualizer bug on different browsers"

[2018-06-26 19:38] #96 closed

[2018-06-26 19:38] #97 closed

[2018-06-27 00:09] djow2019 commented on #98
Works on Microsoft Edge and Firefox. Does not work on Chrome or Safari.
In the meantime, you can check with either of the first two browsers.

I managed to fix the line error, but Chrome and Safari don't allow me to modify the inner html. Found some more information here
https://github.com/jonathantneal/svg4everybody/issues/58

and a possible solution here which will require a complete refactoring

[2018-06-27 19:07] #78 closed

[2018-06-27 19:13] djow2019 commented on #78
@khybiske you should be able to change the gene labels now. Click the edit button next to the gene label, and enter the new gene label with the first letter lowercase. It will also automatically update the name of the protein product with the first letter in uppercase

[2018-06-27 19:14] khybiske commented on #78
@djow2019 I just noticed you added that feature. I submitted one for CTL0260 (our example for new features). It is updating...

[2018-06-27 19:16] djow2019 commented on #78
I see  inclusion membrane protein V CTL0260, correct?

[2018-06-27 19:17] khybiske commented on #78
That is a feature we need to be careful with. I wouldn't want users changing gene names willy nilly, or inadvertently. How feasible is it to store or display the previous gene name? And possibly who made the change. As an archive of changes. In this example, it would show 'hypothetical protein', so anyone viewing it would be happy with the change.

[2018-06-27 19:20] djow2019 commented on #78
The archives are saved in wikidata version history. You can see the history page here
https://www.wikidata.org/w/index.php?title=Q21169165&type=revision&diff=703484837&oldid=703041489

So you can get to this page by clicking the wikidata reference icon, then clicking view history.

Going to ping @andrewsu for thoughts

[2018-06-27 19:41] khybiske commented on #91
@djow2019 I was just thinking about this feature/issue. It isn't urgent, but sure would be nice to have before I proceed with annotating a bunch of genes. If easy to implement, then 'urgent'. 😁

[2018-06-27 20:00] khybiske commented on #84
@djow2019 This is another issue that needs looking into. I suspect an easy fix based on your solutions to annotation bugs yesterday. Essentially, the site isn't letting me submit transposon mutant annotations. We either need to be able to (A) submit using my figshare DOI (10.6084/m9.figshare.6465173), or (B) submit with no reference. I am happy with either.

[2018-06-27 20:30] djow2019 commented on #84
@khybiske Can you give me a sample annotation so I can test with it?

[2018-06-27 20:45] djow2019 commented on #84
I'll add support for figshare DOI

[2018-06-27 21:47] khybiske commented on #84
Gene: TC_0206
Strain name: UWCM_001
Type: transposon
Genome position: 242824
Insert direction: forward
% gene left intact: 86

[2018-06-27 22:55] djow2019 commented on #84
@andrewsu To autocomplete pubmed IDs, we pull data from the NCBI pubmed database. I don't see a database for figshare. Is there an alternative or should we scrap autocomplete?

[2018-06-28 00:46] #84 closed

[2018-06-28 00:47] djow2019 opened #104 "figshare autocomplete"
Typing in the DOI for mutant annotations should produce a dropdown like PMID

https://docs.figshare.com

[2018-06-28 00:54] djow2019 opened #105 "pubmed ids blank in mutant form"

[2018-06-28 00:55] djow2019 commented on #84
@khybiske Added the dropdown option for figshare.
I deleted and resubmitted your annotation to add the figshare reference
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/4ff2ec79-2a7b-4b01-a19d-64f7b9ad8616)

[2018-06-28 18:00] #105 closed

[2018-06-28 18:04] djow2019 opened #107 "error checking in mutant annotation form"
check to make sure the mutant position falls within the sequence start and end range

[2018-06-28 18:07] djow2019 opened #108 "optimize mongo annotations"
a lot of the mongo annotations are storing information that isn't necessary.
For instance, we were saving a lot of information about the pubmed articles that weren't necessary (all we need is the ID) which I fixed with #105

We are also saving information about the gene itself which is already saved in wikidata. We will need to refactor all the mongo entries to make it more space efficient...

[2018-06-28 18:13] djow2019 opened #109 "TC_RS01380 has issues loading data"
Console shows that it does not have subclass or chromosome properties from wikidata, but it actually does....

[2018-06-28 18:16] djow2019 commented on #91
@khybiske Which forms? Just GO annotations? HP?

[2018-06-28 18:18] khybiske commented on #91
I would say every one except mutants. Gene name too (the one you created the other day).

[2018-06-28 18:19] khybiske commented on #91
This is a good example, since I/you changed the gene name for CTL0260, but that should be pushed to CT_005 as well. I meant to change it for that ortholog but forgot to.

[2018-06-28 18:21] djow2019 commented on #91
Ok. I can make it work for all of them except the operon form. That might have to be done individually...

[2018-06-28 18:22] khybiske commented on #91
No problem. Operon is the least important, since we don't have operon data for 99% of the genes.

[2018-06-28 21:09] djow2019 commented on #91
@khybiske Multiple ortholog option now live for GO annotations only

[2018-06-28 22:42] djow2019 commented on #91
HP Interactions with orthologs now done

[2018-06-28 23:32] #91 closed

[2018-06-28 23:36] djow2019 commented on #91
@khybiske All done! You can now select which genes to apply the annotations to for the gene name form, GO forms, and HP form. I reset CTL0260 back to hypothetical protein so you can confirm that the feature works.

[2018-06-29 17:33] djow2019 opened #112 "C. Muridarum JBrowse Genome wrong"
Update with genome here:
https://www.ncbi.nlm.nih.gov/nuccore/AE002160.2

[2018-07-02 16:18] djow2019 commented on #109
Protein is missing subclass
https://www.wikidata.org/wiki/Q30105987

[2018-07-02 16:31] djow2019 commented on #109
Missing the "chromosome" qualifier under Genomic Start; Instead it is a refseq genome ID (but CTL0260 has chromosome instead)
TC_RS01380: https://www.wikidata.org/wiki/Q27944411
CTL0260: https://www.wikidata.org/wiki/Q21169165

[2018-07-02 17:35] #109 closed

[2018-07-02 21:17] djow2019 opened #118 "Form Annotation Nothing Clicked Says Success"
While technically true, having no genes selected while submitting an annotation and clicking submit will give you a message that it was submitted successfully. Will change this to notify user that nothing is selected

[2018-07-02 21:20] djow2019 opened #119 "Multiple Language Support"
Should add support to add annotations in different languages (Currently hardcoded to English). It should also extend to search queries (Currently filtering only labels in English)

[2018-07-02 21:25] djow2019 opened #120 "Redirect to url without "authorized" if session expired"
If a user directly navigates to {{location path}}/authorized, or more likely, save the bookmark with "authorized" in the url, the previous session details will probably be expired. A message will be given saying you need access privileges even if the user sees "authorized". To fix, user simply needs to sign out and back in, but this may not be obvious to the user.

[2018-07-02 21:45] djow2019 opened #121 "automatically select current gene when submitting annotations"
box for current gene should automatically be selected

[2018-07-02 22:36] #121 closed

[2018-07-02 22:36] #118 closed

[2018-07-02 22:37] djow2019 opened #123 "figshare reference option to all forms"
currently only for mutant annotation form

[2018-07-02 23:15] djow2019 opened #124 "Setting DEBUG to False crashes server"
Setting debug to false in settings.py crashes the server (not usable)

[2018-07-03 00:12] djow2019 opened #126 "New user oauth issue"
When a new user tries to get access:

Internal Server Error: /wd_oauth
Traceback (most recent call last):
  File "/home/ubuntu/.virtualenvs/nginx-django/lib/python3.5/site-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/home/ubuntu/.virtualenvs/nginx-django/lib/python3.5/site-packages/django/core/handlers/base.py", line 249, in _legacy_g

[2018-07-03 00:16] djow2019 commented on #126
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/5df31610-5c5e-41ce-8795-1a40f078b4f3)

[2018-07-03 16:43] djow2019 commented on #126
Found the issue! It is either an issue with wdi login or mediawiki.

When you create an account for the first time from CHLAMBASE (clicking authorize to edit -> join media wiki), it DOES NOT auto sign in to WIKIDATA. This is the bug: you should be autosigned in to wikidata after you sign in from media wiki. Thus, it gives the illusion you are signed into mediawiki even though you are not signed in

[2018-07-05 22:14] djow2019 commented on #126
@andrewsu

Created a post on the media wiki for developers forums.
https://discourse-mediawiki.wmflabs.org/t/creating-new-account-does-not-sign-in-to-other-wiki-websites/666

[2018-07-05 23:43] #4 closed

[2018-07-05 23:43] #107 closed

[2018-07-06 00:00] djow2019 opened #130 "Create dev.chlambase.org"
Set up another chlambase server for testing new features at dev.chlambase.org.

Create new EC2 instance.  Chlambase is running a custom AMI (chlambase_django_nginx (ami-622c0b07)) on a t2.micro out of Ohio region.

[2018-07-06 00:29] djow2019 commented on #59
Fixed problem with variable mangling (wrong order of commands..). Now, variable names will be mangled to further compress the files in chlambase for even faster speed! Yay

[2018-07-06 17:40] djow2019 commented on #126
The bug was filed on phabricator.wikimedia.org: https://phabricator.wikimedia.org/T198940

[2018-07-06 17:42] djow2019 commented on #59
Fixed file concatenation. Problem was that angular requires a specific ordering (which I had not specified).

[2018-07-06 17:57] djow2019 opened #131 "keyword pagination should not be showing when search is loading"

[2018-07-06 23:31] djow2019 commented on #76
Now that the new instance has twice the memory and the chlambase production server is running, memory and disk space is no longer an issue

[2018-07-06 23:31] #76 closed

[2018-07-06 23:34] djow2019 commented on #59
Integrated HTML minifier in pipeline. Now, everything is minified and compressed as small as possible. While its certainly possible to make more improvements in the future, for now it is at a very good point and will mark as resolved

[2018-07-06 23:34] #59 closed

[2018-07-06 23:35] djow2019 commented on #124
This only occurs in local hosting. Setting debug to False in production (and now chlambase dev) works as expected

[2018-07-06 23:42] djow2019 opened #134 "Chlambase Logo for Chlambase Beta"
Thought of something that might be cool for dev.chlambase.org. Instead of a normal B, can you make one using Beta (Chlam[Beta]ase)? Might be a good way to indicate you're on the dev page (in case you somehow end up here).

This is pretty low priority but if you have any free time it could be fun.

[2018-07-06 23:58] djow2019 commented on #20
Since we have the ortholog alignment module (which does exactly this) I will mark this as closed

[2018-07-06 23:59] #20 closed

[2018-07-07 06:45] khybiske commented on #134
Great idea, I’ll make a new one this week

[2018-07-09 16:18] #120 closed

[2018-07-09 16:21] djow2019 opened #135 "Security Issue with chlambase dev"
I think it needs a different ssl certificate

[2018-07-09 16:39] djow2019 commented on #21
It seems we are getting publication data from ebi, not from WikiData so this will be more complicated.

@andrewsu Any reason why we don't have related publications in WikiData? I can write a script to import them into WikiData, then refactor the module pull from WD instead.

[2018-07-09 17:09] djow2019 commented on #6
added specific keywords to review summary, is this what you had in mind?
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/f4e8c48a-4ea4-4ab1-b12d-476cd632e613)

[2018-07-09 17:39] djow2019 commented on #80
Here is what I have for UI:
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/8b9b2b1f-5df4-4176-b6a2-f432df11d1a7)
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/200e77ef-0835-4b59-8d24-0882e88e1320)

Currently will have options for any of the 3 go classes, HP, uniprot and entrez

[2018-07-09 19:18] djow2019 opened #136 "Incorrect display of GO Data"
See this gene
chlambase.org/organism/272561/gene/CT_456

[2018-07-09 21:32] djow2019 commented on #80
Latest Update
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/6e3fa79b-c406-462b-a95f-1bc207f4b690)

[2018-07-09 23:02] djow2019 commented on #9
Since we have the host pathogen interaction module, is there anything left to do?

[2018-07-10 00:00] #16 closed

[2018-07-10 00:02] djow2019 commented on #80
@andrewsu @khybiske Live on chlambase dev. https://dev.chlambase.org/keyword/test

[2018-07-10 19:16] #136 closed

[2018-07-10 19:49] khybiske commented on #134
png version (preserves transparency)

![chlambeta](https://user-images.githubusercontent.com/29986637/42533776-aa0e4b4e-843f-11e8-80f8-a0c14920ae32.png)

[2018-07-10 20:48] djow2019 commented on #80
TODO: Add autocomplete for go term fields

[2018-07-10 20:49] djow2019 opened #139 "Delete old go term data"
<a href="https://query.wikidata.org/#SELECT%20%3Fprotein%20%3FgotermValue%20WHERE%20%7B%0A%0A%20%20%3Ftaxon%20wdt%3AP171%2B%20wd%3AQ846309.%0A%20%20%3Fprotein%20wdt%3AP703%20%3Ftaxon%3B%0A%20%20%20%20%20%20%20%20%20%20%20wdt%3AP279%20wd%3AQ8054%3B%0A%20%20%20%20%20%20%20%20%20%20%20%28p%3AP680%7Cp%3AP681%7Cp%3AP682%29%2B%20%3Fgoterm.%0A%0A%20%20OPTIONAL%20%7B%3Fgoterm%20pq%3AP459%2Frdfs%3Alabel%20

[2018-07-11 18:10] djow2019 commented on #134
Oh I meant to actually use the symbol beta haha.
Like this Chlamβase

[2018-07-11 18:13] khybiske commented on #134
Ah, ok

[2018-07-11 18:15] khybiske commented on #134
![chlambeta](https://user-images.githubusercontent.com/29986637/42591493-ad640b6e-84fb-11e8-9def-edbdc2f46d32.png)

[2018-07-11 18:19] djow2019 commented on #135
Generated new ssl certificate with Certbot

[2018-07-11 18:19] #135 closed

[2018-07-11 18:19] djow2019 commented on #134
Great, I'll get the image loaded

[2018-07-11 22:19] djow2019 commented on #80
TODO: Add mutant (after refactoring) and EC Number search fields

[2018-07-11 23:48] djow2019 commented on #22
From today's meeting:
@khybiske provide sample data in a google sheet mapping chlamydia proteins to PDB IDs
Then I can put them in WikiData, then make the corresponding interface

[2018-07-11 23:51] djow2019 opened #140 "Ontology for EB vs. RB"
Need a way to distinguish whether a protein is part of the EB or RB timing.
Brenda Tissue IDs: BTO_0001172 and BTO_0000377

Need to find best way to get them in WikiData

@andrewsu

[2018-07-11 23:53] djow2019 opened #141 "Gene name display"
Display aliases of the gene names, and also display the name history.
Display references supporting the alias of a gene name.

Need to find a way to map references to an alias. Need a new property in WikiData, or can store locally in Mongo

[2018-07-11 23:57] djow2019 opened #142 "Mongo Reaction Collection"
Future mongo collection to store reaction data so user can search for enzymes that catalyze reactions for certain products.
I. E. give me all the genes that encode an enzyme that catalyzes a reaction that digests indole

[2018-07-11 23:59] djow2019 opened #143 "Usability Testing"
Need to find some guinea pigs to test the usability of chlambase. Will create tasks and monitor their performance.

@khybiske will find colleagues to test chlambase.org

[2018-07-12 00:29] djow2019 commented on #89
@khybiske Can you find an appropriate ontology term for intron mutagenesis? (Also need one for transposon mutagenesis)

As an example, we use EFO:0000370 for chemical mutagenesis
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0000370

[2018-07-12 00:46] djow2019 opened #144 "Mutants with missing locus tags"
Some mutants are stored in the database without locus tags. They will never be displayed, so we need to determine if there was an error in importing the data from here:

https://www.sciencedirect.com/science/article/pii/S1931312815001316?via%3Dihub

An abbreviated print out of an entry (Did not update from today's meeting):
{
        "_id" : "CTL2M402_(pmpB_null)--400809",
        "ref_base" : "C"

[2018-07-12 17:02] djow2019 commented on #89
Potential candidate for transposon mutagenesis: EFO_0004021

[2018-07-12 17:38] djow2019 commented on #108
New Format for Chemically induced:
{
        "_id" : "CTL2M021_(SPQ52-6-HC)-CTL0295-366191",
        "mutation_id" : "EFO_0000370",
        "aa_effect" : "G43R",
        "chromosome" : "NC_010287.1",
        "mutation_name" : "chemically induced mutation",
        "ref_base" : "G",
        "date" : ISODate("2018-07-12T17:18:11.954Z"),
        "snv_name" : "non-synonymous",
        "snv_id" : "SO:0

[2018-07-12 17:45] djow2019 commented on #108
Will refactor the "chromosome" key in transposase mutations to convert the QID to a refseq ID for consistency....

[2018-07-12 20:13] khybiske opened #145 "Rename HPI module to Protein Interactions"
It just occurred to me that we also have instances of known chlamydia–chlamydia protein interactions. My recommendation is we rename this module to _**Protein Interactions**_ and add 2 subsections: Host-pathogen interactions (what we have now)
and
Bacteria protein interactions (new). Same table as HPI, but change host to Bacteria (and lookups should go to the current Chlamydia genome).

[2018-07-12 20:28] khybiske commented on #22
@djow2019 Shared a google sheet link with you. If any issues accessing, or with the data, let me know!

[2018-07-12 21:11] djow2019 commented on #108
When updating production, remember to go to mongo shell and do
db.mutants.updateMany({"chromosome.id": "Q50366209"}, {"$set": {"chromosome": "NC_002620.2"}})

[2018-07-12 21:30] djow2019 commented on #140
Thinking of making a Brenda Ontology Annotations module.

From kevin:
Here is some sample data for EB/RB annotation purposes. Pulled from PMID 22014092
CT288 (and CTL0540): EB enrichment
PmpD, CT812, CTL0183: RB enrichment
IncG, CT118, CTL0373: RB enrichment
OmcB, CT443, CTL0702: EB enrichment
For all 4 examples, you can push to all orthologs (please do)

[2018-07-12 21:33] djow2019 opened #146 "UI: put search-based access of data upfront on splash page, as alternative to diving into a genome"
What do you think about clicking the Chlamydia root node (top of tree) to bring you directly to advanced search? Or it could direct you to a browsing page (similar to the other genomes) which lists all genes across all 4 genomes (as opposed to the strain specific genes)?

@khybiske

[2018-07-12 21:50] khybiske commented on #146
That's a possibility. My main reservation is that I don't think that would be inherently obvious (to me). The simplest solution may be to modify the search bar on the splash page, to make it a little more prominent, or inform the users (beyond the tutorial) that they can use that to query genes based on neat criteria.

[2018-07-12 21:51] khybiske commented on #146
But I do like the option of clicking on the Chlamydia top node to get a pan-genome browsing page. No reason you can't entertain all options to capture different ways users might think or approach the site.

[2018-07-13 17:25] djow2019 opened #149 "FAQ/About page"
Maybe create a FAQ/About page to help new users navigate the website, identify what features are available. Include the general purpose of chlambase and its goals.

What do you think about this @andrewsu @khybiske

[2018-07-13 17:27] djow2019 opened #150 "Loosen search and filtering to make "_" optional"

[2018-07-13 17:29] djow2019 commented on #150
Was also thinking of making the beginning 0's optional as well. So CTL0260 could also be found with CTL260.

Thoughts @khybiske ?

[2018-07-13 17:42] khybiske commented on #150
Y E S ! (for all species)

[2018-07-13 18:19] khybiske commented on #89
@djow2019 Noticing a bug. After I authorize myself on chlambase, your new mutant annotation sections (introns, recombination) disappear. They are visible pre-authorization.

[2018-07-13 18:30] djow2019 commented on #89
Ugh its an oauth issue. You get redirected back to the original chlambase site.... Will need to think about this

[2018-07-13 18:48] djow2019 commented on #89
@andrewsu Users won't be able to make annotations to wikidata from chlambase dev because the callback URL is different. Won't be able to fix this without making a new Chlambase Dev instance on media wiki (and then wait for approval...).
For mutants, I could also disable the authorization check, but then I'm not sure if that is a good idea because information in chlambase dev won't be copied to pro

[2018-07-13 20:18] djow2019 commented on #150
Done
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/27530dd8-70eb-49e6-b057-2d663cc0721d)

[2018-07-13 20:19] #150 closed

[2018-07-16 18:41] djow2019 commented on #146
Moved the search bar above the nagivation tree, and turned it into an advanced search bar. Also modified the tutorial on the front page to explain the two different ways to use the website.

[2018-07-16 18:47] #131 closed

[2018-07-16 18:49] djow2019 commented on #80
All done, but leaving open until we move to production

[2018-07-16 18:51] djow2019 commented on #89
Discussed with Andrew about this. We won't make a separate oauth application for chlambase dev, so making annotations on the dev site won't be possible.

[2018-07-16 19:01] khybiske commented on #89
@djow2019 Totally ok with that. Possible to push new mutant annotation categories to main site in the near future? Seems like that would be a stable one, and then I can go about adding annotations.

[2018-07-16 22:31] djow2019 commented on #98
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/4a5e318c-e5f5-4fa8-a14f-04203009781f)

[2018-07-18 16:42] djow2019 commented on #22
@khybiske what references do you have for assigning the PDB IDs?

[2018-07-18 19:15] khybiske commented on #22
@djow2019 I am not a big structure guy to know what is most pertinent to capture. Resolution perhaps (in angstroms)? One of our consultant friends has solved a bunch of our CT structures, so once you get it live on the dev site, I can ask him for comments.

[2018-07-18 19:16] khybiske commented on #22
Re: Refs, is it possible to put a link to PDB? Really, we are just grabbing their data. I wouldn't want this module to be user-curated. I mean, yes, but only in asking users to point the gene page to the proper PDB page. How are you implementing this?

[2018-07-18 19:23] khybiske commented on #80
2 small suggestions:
1. Can you add an advanced search link to the header bar of all gene pages?
2. (not a small one) Give thought to adding an option for ortholog filtering. I'll think about this as well... but an example use case: filter all Cmur genes for those with no orthologs in CT-D and CT-L2. No bright idea how to implement this in a simple way.

[2018-07-18 20:06] djow2019 commented on #22
Right now I don't plan on adding an annotation form for PDB structures. I can turn the ID into a hyperlink to the proper PDB page

[2018-07-18 20:08] khybiske commented on #22
That's good for now. I'll reserve any further comments until an example is live.

[2018-07-18 20:58] djow2019 commented on #22
Its live now

[2018-07-18 20:58] #98 closed

[2018-07-18 22:49] djow2019 commented on #145
I think you mentioned you also had a spreadsheet of all the host pathogen interactions. Can you share it with me?

[2018-07-19 17:32] djow2019 commented on #145
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/db3b0022-b4e9-4cd3-8972-d2620c82d394)

[2018-07-19 17:34] #9 closed

[2018-07-19 22:21] djow2019 commented on #149
Made some stylistic changes to the footer, including hovering and fading. Once we get a list of common questions, we can update the FAQ accordingly

[2018-07-19 23:25] djow2019 opened #156 "Modify gene name should add an alias, not change the label"

[2018-07-19 23:49] djow2019 commented on #123
Unlike for PMIDs, we do not have a tool to get or create wikidata articles from figshare based on the DOI. We can either create a separate script that will get/create wikidata figshare articles, or fork WDI and add the feature. Will keep this in the backlog until it is specifically needed

[2018-07-20 00:34] djow2019 commented on #22
Revisiting the references needed for the PDB Ids. I added a few columns to the spreadsheet that should be filled out if possible. Right now they don't have any sort of information to authenticate the data so it might be removed at some point unless we put something in.

[2018-07-20 16:41] djow2019 commented on #140
Waiting for "upregualted in" to be approved in WikiData.
https://www.wikidata.org/wiki/Wikidata:Property_proposal/Natural_science#upregulated_in

[2018-07-20 16:51] djow2019 commented on #3
Waiting for my account to be approved in wmflabs

[2018-07-20 17:48] khybiske commented on #126
@djow2019 @andrewsu One of my colleagues (Scott Hefty) wants to make some annotations, but he's getting errors when trying to authorize (log in) with his newly created wikidata account. Any known issues still? He showed me on Skype-screenshare, and he authorizes just like I normally do, but he ultimately gets an error pop up.

[2018-07-20 17:51] khybiske opened #157 "Add BLAST tool"
Suggested by Scott, and a good idea. In the Gene Product module, next to Download, make a column/button to send the user to NCBI BLAST(protein). Should be easy, right?

[2018-07-20 17:52] khybiske opened #158 "Change Chlamydophila to Chlamydia"
Change all mentions of Chlamydophila in the site to Chlamydia

[2018-07-20 18:00] djow2019 commented on #126
On the dev site I created a FAQ at the bottom that addresses this potential issue for new users.
There is currently a bug where new accounts don't get logged into wikidata. But every subsequent login does. Tell him to navigate to wikidata.org and manually log in, or log out and back in. Then, try reauthorizing on chlambase again. In the future, it shouldn't happen.

8. It looks like I'm authorized

[2018-07-20 18:09] djow2019 commented on #158
Updated the reference on WikiData and applied the filter on ChlamBase

[2018-07-20 18:09] #158 closed

[2018-07-20 18:25] djow2019 opened #159 "Operon Data not displaying"

[2018-07-20 19:49] #159 closed

[2018-07-20 20:49] djow2019 commented on #157
Just a link to blastp? Sure

[2018-07-20 21:13] djow2019 commented on #157
Think its done
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/87938ef0-da11-4bf5-b666-c99a87f834dc)

[2018-07-20 21:16] khybiske commented on #157
That's great. Just to explore the idea... do you think there's a way to link directly to a prefilled blastp query? Maybe that's not possible. Alternatively, copy AA sequence to clipboard and go to blastp: https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome

[2018-07-20 21:17] djow2019 commented on #8
Is there anything left to do here?

[2018-07-20 21:18] khybiske commented on #8
No, I think it's all good

[2018-07-20 21:18] djow2019 commented on #157
Those are both good ideas. I'll see if I can get the first one before I do the second one...

[2018-07-20 22:41] khybiske commented on #22
@djow2019 Sheet filled.

[2018-07-20 22:42] khybiske commented on #22
I might suggest you put the PDB ID in the Gene Product module. And create an 'add annotation' function so that users can add new ones. Our collaborator Scott has solved ~10 of the Ct structures (half of those that exist), and he is personally eager to enter these into CB.

[2018-07-20 23:30] djow2019 commented on #157
Updated with the former. live now

[2018-07-21 16:12] khybiske commented on #158
@djow2019 Chlamydophila still shows in your advanced search box/page. FYI

[2018-07-23 02:52] khybiske opened #160 "Add mass to Gene Product module"
Should be simple, assuming you can grab the molecular weights from Uniprot or NCBI

[2018-07-23 18:47] djow2019 opened #161 "Fix celery shared tasks"

[2018-07-23 18:47] djow2019 opened #162 "Fix setup.py to use new mongo format and jbrowse setup"

[2018-07-23 18:48] djow2019 opened #163 "make module config file"

[2018-07-24 16:31] #160 closed

[2018-07-24 16:32] #112 closed

[2018-07-24 19:01] djow2019 opened #164 "Move EB/RB to expression module"

[2018-07-25 19:18] djow2019 commented on #108
Also need to run fix_commas.py in /scripts because some coordinate start/end numbers have commas, need to remove for gff

[2018-07-25 23:13] djow2019 opened #165 "use celery to update jbrowse"
use celery to update new mutant and operon annotations

[2018-07-26 17:05] khybiske commented on #157
All done, right?

[2018-07-26 17:08] #157 closed

[2018-07-26 17:09] #8 closed

[2018-07-26 17:10] djow2019 commented on #164
@khybiske How would you like it displayed? Two columns one side reticulate timing another elementary? Two columns one side generic expression timing, other EB/RB?

[2018-07-26 17:31] khybiske commented on #164
<img width="1160" alt="screen shot 2018-07-26 at 10 31 32 am" src="https://user-images.githubusercontent.com/29986637/43278158-1990664c-90bf-11e8-8066-7f2b79922c4b.png">

[2018-07-26 17:32] khybiske commented on #164
Something like this? Or, given all the whitespace, you could put mRNA as a left column, and RB/EB as a right column

[2018-07-26 17:33] khybiske commented on #164
Note: I did multiple lines as an example for when 2 datasets may disagree.

[2018-07-26 17:34] djow2019 commented on #164
Would the mRNA column be used to display the quantitative data?

[2018-07-26 17:35] djow2019 commented on #164
I could also easily fit it in a single row, and maybe instead of a button for EB_and_RB, highlight both EB and RB individually

[2018-07-26 17:36] khybiske commented on #164
mRNA is my shorthand for the RB expression timing (what's currently there)

[2018-07-26 17:37] djow2019 commented on #164
Actually, if we are going to use multiple data sets to display EB/RB information, then I don't think we can use WikiData to store this information.

Thoughts @andrewsu ?

[2018-07-26 17:38] khybiske commented on #164
It's a little apples and oranges, but the current module shows mRNA expression (microarray, although RNAseq data will be coming along soon). The RB/EB conveys which form the protein is found to be made in.

[2018-07-26 17:59] #161 closed

[2018-07-26 17:59] #165 closed

[2018-07-26 18:44] djow2019 commented on #164
What do you think of this
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/1b451a9b-d925-4d90-ac3b-b3de263cd842)

[2018-07-26 18:45] khybiske commented on #164
Looks perfect to me. Does 'add annotation' allow for both columns? or just RB/EB?

[2018-07-26 19:08] #25 closed

[2018-07-26 19:09] djow2019 commented on #164
Changed the dropdown to include EB/RB/Both

[2018-07-27 00:26] djow2019 opened #168 "Fix github linguist"
the language breakdown at the top of the repo is very inaccurate of the project. very trivial problem.
https://github.com/github/linguist

[2018-07-27 16:18] djow2019 commented on #124
Django does not host static files in production mode. You are supposed to use a provider like Nginx or Apache to serve the static files, hence django will not work with DEBUG = False in a local environment. Marking as closed

[2018-07-27 16:18] #124 closed

[2018-07-27 17:09] #168 closed

[2018-07-27 18:12] #164 closed

[2018-07-27 18:13] #162 closed

[2018-07-27 18:15] djow2019 commented on #56
Has the request been sent?

[2018-07-27 18:19] khybiske commented on #56
Ack, no.. I'll try to deal with it

[2018-07-27 18:23] djow2019 opened #169 "revision history module"
I'm having a lot of issues with making batch requests for a set of genes, but it is very easy to query the revision history for a single gene. I'm proposing that instead of a broad organism feedback, we can have a "revision history" module at the bottom of each gene page. Thoughts @andrewsu @khybiske ?

[2018-07-27 18:30] andrewsu commented on #169
I think that is also a useful feature, but because we expect edits on any particular gene to be relatively infrequent, it is useful to *also* have a site/strain/organism-wide revision history feed.

Can you outline the batch request issues you're seeing?

[2018-07-27 18:33] khybiske commented on #169
Hard for me to comment, I don't fully get what 'batch requests' means for CB (forgive me). But I do like the idea of a revision history display – a lot.

[2018-07-27 19:41] djow2019 commented on #169
It is still with the PBB tracker. Will talk to Greg again to see if I can get it to work.

[2018-07-27 19:42] djow2019 commented on #169
We can definitely have both, and in fact since the organism-wide feed might take some time, I can implement the revision history module as well

[2018-07-27 23:04] djow2019 commented on #163
there is now a modules setting in the application_settings file to determine which modules are shown on the website. settings are saved to ->/json/module_settings.json

[2018-07-27 23:04] #163 closed

[2018-07-27 23:06] djow2019 opened #170 "introjs security bug"
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/7d09fd46-ade0-4e20-9fec-036d5e0b5992)

[2018-07-27 23:07] #6 closed

[2018-07-27 23:08] #149 closed

[2018-07-27 23:08] #156 closed

[2018-07-27 23:08] #145 closed

[2018-07-27 23:12] #170 closed

[2018-07-27 23:12] djow2019 commented on #170
Issue was with IntroJS example code. Deleted it because it is never used.

[2018-07-28 00:19] djow2019 commented on #22
Note: when creating annotation form also push image file
ex. https://www.ebi.ac.uk/pdbe/static/entry/5kbc_deposited_chain_front_image-800x800.png

[2018-07-28 23:25] khybiske opened #171 "Ortholog alignment coloring"
@djow2019 This is minor, but is there any way to change the coloring scheme of DNA and amino acid alignments? There are a variety of schemes out there, and everyone has their own preferences... I think the most useful for this module is one where contrast or color was used to highlight divergent bases/amino acids. As opposed to coloring everything. Again, minor...

[2018-07-30 16:39] djow2019 commented on #171
I don't think the MSA viewer supports coloring divergent bases. It uses a static color scheme that gives every base a unique color. I can, however, give you the option to select a colorscheme that you would prefer. I'll re-enable the options bar so we can play around with it.

[2018-07-30 17:19] djow2019 commented on #171
What about something like this
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/37ce2b01-857a-4f79-a5a1-bf7081c9e63a)

Msa viewer gives the user a menu at the top to dynamically change the color scheme, but for some reason it isn't working (just unresponsive). So we can add the conserved sequences at the top instead.

Check out their example here http://workmen.biojs.net/

[2018-07-30 17:58] khybiske commented on #171
I like Clustal2 the best, in case it is possible to change. I don't like the stacked letter thing at the top (I never like those).

[2018-07-30 18:18] #171 closed

[2018-07-30 18:25] djow2019 commented on #171
Changes now live. You can further tweak the display with the option bar now.

[2018-07-30 19:01] khybiske commented on #171
Outstanding!

[2018-07-31 16:25] djow2019 opened #172 "Operon Form Bug"
Can't select genes from search bar

[2018-07-31 17:24] #172 closed

[2018-07-31 17:29] djow2019 opened #173 "Creating Operon in WikiData missing important claims"
New operons are missing found in taxon and strand orientation

[2018-07-31 18:12] #173 closed

[2018-07-31 21:48] #22 closed

[2018-07-31 22:17] khybiske commented on #140
@djow2019 @andrewsu Finally checking this off my to-do list... For the EB/RB data assignments (PMID 22014092 Table S1), I think we can set thresholds exactly as the authors did. They found 426 proteins expressed in EB, and 269 in RB (see Fig 3A). These proteins overlap. You can look at the Venn diagram (I will also paste below) to see how many are EB only, RB only, and both. Very easy to get these

[2018-07-31 23:17] djow2019 opened #174 "create a changelog for website developments"

[2018-07-31 23:54] #174 closed

[2018-08-01 19:05] djow2019 opened #175 "gene.strand error message"

[2018-08-01 19:15] #80 closed

[2018-08-01 19:15] #89 closed

[2018-08-01 19:15] #108 closed

[2018-08-01 19:17] djow2019 opened #176 "Disable Caching"
Website is constantly changing, doesn't make sense to cache at this time. Only leads to buggy code and buggy UI

[2018-08-01 19:34] #175 closed

[2018-08-01 19:35] #176 closed

[2018-08-01 21:10] djow2019 commented on #144
The data is actually correct. These are the mutants that are produced between genes, so naturally they won't have locus tags. However, we don't have a way of annotating these in chlambase since it is gene gased.

[2018-08-01 21:10] #144 closed

[2018-08-01 21:54] djow2019 opened #177 "code cleanup/optimization"
a lot of unused dependencies need to be removed

[2018-08-01 22:31] djow2019 opened #178 "use angular's ng-table params"
lots of cool features with ng-table that we currently aren't using

[2018-08-01 22:56] djow2019 opened #179 "cytoscape"
we have cytoscape downloaded, but are we ever going to use it? Might be cool for the landing page
http://www.cytoscape.org/what_is_cytoscape.html

[2018-08-02 01:22] djow2019 opened #180 "move edit alias button next to alias"

[2018-08-02 16:47] khybiske commented on #179
For CB at least, I don't see any practical use for cytoscape in the near-term

[2018-08-02 17:10] khybiske opened #181 "User instructions for alias editing"
@djow2019 thinking more about this... What might be helpful (and easy) is if you wrote a brief set of  instructions inside the annotation wizard, so that users know what we'd like them to type in the alias box (or what's allowable). Or maybe provide examples? I am on board with following NCBI's naming... but that also seems very inconsistent. There are L2 genes that contain abbreviated names (ie C

[2018-08-02 17:15] khybiske commented on #181
I do find it off-putting that the abbreviated gene names (in the CTL0245 example) are practically buried as small-type aliases, when that's really the most important descriptor after the locus tag.
To even find this gene (L2 ortholog), I search for 'glgb', click the Cpn ortholog search result (it's the only one that comes up), then click CTL0245 in the ortholog table. Not ideal, ya?

[2018-08-02 17:25] djow2019 commented on #181
I think that the best way to address this might be to make a new wikidata property called "abbreviated name" and we manually add all the abbreviated names as a property of each gene

[2018-08-02 17:28] khybiske commented on #181
I'd love that.

[2018-08-02 18:36] djow2019 commented on #140
Updated the property proposal and changed upregulated in to expressed in. Hopefully this time we can get it approved! https://www.wikidata.org/wiki/Wikidata:Property_proposal/Natural_science#expressed_in

[2018-08-02 18:39] djow2019 commented on #181
@khybiske do you have a table mapping locus tags to abbreviated names? Sadly, NCBI does not contain any structured form for abbreviated names, so we will have to create a spreadsheet ourselves.

[2018-08-02 18:41] khybiske commented on #181
Shared a google sheet with you.

[2018-08-02 19:33] djow2019 commented on #181
Perfect!

[2018-08-03 21:18] djow2019 commented on #181
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/90142969-9c95-4341-b1ab-dc8a7e24a904)

Just about done here. Will also display the gene symbol in the overview panel. All thats left is to get the remaining symbols in WD

[2018-08-03 22:48] djow2019 opened #182 "Edit gene symbol form"
Will need a new gene symbol annotation form

[2018-08-03 23:01] #180 closed

[2018-08-03 23:30] djow2019 opened #183 "Do authorize check on clicking add annotation"
Very annoying to start filling out a form and at the very end you are notified you aren't authorized....

[2018-08-03 23:31] djow2019 opened #184 "standardize form buttons"
need a standardized glyph icon for adding annotations

[2018-08-03 23:32] djow2019 opened #185 "Add clickable example under search bar"
Something like this
![image.png](https://images.zenhubusercontent.com/5a6639ad4b5806bc2bc3ca25/917ec9b3-7384-4cb6-9260-a52f45018bd5)

[2018-08-04 00:34] #141 closed

[2018-08-04 00:34] #182 closed

[2018-08-06 16:40] djow2019 opened #186 "Search Page new interface"

[2018-08-06 18:14] #140 closed

[2018-08-06 19:54] djow2019 opened #187 "add relative expression to developmental form module and form"

[2018-08-07 17:51] djow2019 opened #188 "CTL0491 missing from wikidata"
But it is in NCBI https://www.ncbi.nlm.nih.gov/gene/?term=CTL0491

[2018-08-07 18:09] djow2019 commented on #188
Also missing: CTL0231B, pL2-04, pL2-05, pL2-03

[2018-08-07 23:08] #179 closed

[2018-08-07 23:30] #185 closed

[2018-08-07 23:32] djow2019 commented on #181
Since we have a form for editing gene symbols, and that aliases, as a separate form, do not require any special naming conventions, I am marking this as resolved.

[2018-08-07 23:32] #181 closed

[2018-08-27 19:48] djow2019 opened #189 "Clicking gene from JBrowse uses incorrect url"

[2018-08-27 22:56] djow2019 opened #190 "species/strain filters needs to be generalized"
specifically, taxid2Name, taxid2Species, taxid2Strain

[2018-08-28 18:47] djow2019 opened #191 "IntroJS tutorials broke after latest filter changes"

[2018-08-28 19:57] #190 closed

[2018-08-28 19:57] #191 closed

[2018-08-28 21:40] #186 closed

[2018-08-28 22:17] djow2019 opened #192 "generalize advanced search query to use parent taxid"
change advanced search to take in parent tax id specified in application settings.
Make the following changes:
?taxon wdt:P171*/wdt:P685 'parentTax'.
?gene wdt:P279|wdt:P31 wd:Q7187.

[2018-08-28 22:18] #189 closed

[2018-08-29 17:38] #192 closed

[2018-08-29 18:14] djow2019 opened #193 "Handle WDQS Timeout"
myxo advanced search with no filters attached results in a WDQS Timeout that is not handled.
Need to catch this error and also implement a a default limit that can be unchecked by the user

[2018-08-29 18:29] djow2019 opened #194 "Optimize SPARQL Queries"

[2018-08-29 19:32] djow2019 commented on #194
1. Use label service for aliases
2. Use term equality rather than value equality
    i.e. FILTER(?x = 1) vs FILTER(SAMETERM(?x, 1))
3. Remove optional clauses if there is an appropriate filter for it
4. For filters, rewrite the broad filter with "CONTAINS" to just being equal to the value itself and remove group concat
5. Try to use REDUCED rather than DISTINCT

[2018-08-29 23:32] #193 closed

[2018-08-29 23:32] #194 closed

[2018-08-30 00:00] djow2019 opened #195 "Missing gene and product types for myxobase"

[2018-08-30 00:12] djow2019 opened #196 "do local concatenation of search results"

[2018-08-30 00:14] djow2019 opened #197 "change name,species,strain filter to factory methods"
since we are loading from app data, these are no longer local filters. now they are factory methods and need to be updated to reflect that

[2018-08-30 17:39] #196 closed

[2018-08-30 18:41] #197 closed

[2018-08-30 19:01] djow2019 opened #198 "optimize browsing page"
use sparql query with offsets to improve loading time.
also use the angular table

[2018-08-31 19:37] djow2019 opened #199 "color selected gene in jbrowse"

[2018-09-04 19:54] djow2019 opened #200 "Use entrez id as alternate gene identifier"
Many eukaryotic organism genes do not have locus tags, i.e. turqoise killifish. We need to allow support for using entrez as the primary identifier rather than locus tag.

[2018-09-04 23:54] #200 closed

[2018-09-06 17:11] djow2019 opened #201 "color legend on both expression timing sections"

[2018-09-06 17:11] djow2019 opened #202 "authorization check at start of work flow"

[2018-09-06 17:11] djow2019 opened #203 "add operon to advanced search"

[2018-09-06 17:12] djow2019 opened #204 "highlight current gene in ortholog table"

[2018-09-06 18:01] #183 closed

[2018-09-06 18:01] #202 closed

[2018-09-06 18:08] #199 closed

[2018-09-06 18:11] #201 closed

[2018-09-06 18:53] #203 closed

[2018-09-06 19:03] #204 closed

[2018-09-06 20:11] djow2019 commented on #14
Based on the JBrowse configuration guide, it doesn't seem possible to switch the onclick functionality of left click with the menu functionality of right click. I changed left click to details and right click to load gene page, with a mouse tip describing both. Not perfect, but comes close to the desired functionality.

[2018-09-10 17:35] djow2019 opened #205 "ortholog cross-genome comparison search"

[2018-09-10 20:36] #205 closed

[2018-09-10 21:31] djow2019 opened #206 "Specify gene length in adv search"

[2018-09-11 18:28] #206 closed

[2018-09-13 17:42] djow2019 commented on #195
Gene and protein subclass types have been added, so the issue has been resolved

[2018-09-18 20:41] #195 closed

[2018-09-18 20:42] #169 closed

[2018-09-18 20:43] djow2019 commented on #178
since mutant view, advanced search page, and other modules currently use ng table, this issue is resolved

[2018-09-18 20:43] #178 closed

[2018-09-18 21:06] djow2019 commented on #15
Do we still want a candlestick chart to display the caldwell data? I can get this loaded into chlambase for Ctr D.

[2018-09-18 21:14] khybiske commented on #15
If not too challenging, then please do! Now that wikigenomes is expanding to new bugs, I can see this effort bearing fruit in the future (ie not be chlambase specific)

[2018-09-18 22:19] #139 closed

[2018-09-19 17:47] djow2019 commented on #15
Great, is the lnc.table spreadsheet the most up to date?

[2018-09-19 19:51] #15 closed

[2018-09-25 21:18] djow2019 opened #212 "Incorrect host cell plasma membrane annotations in Uniprot"
The following are misannotated with HC plasma membrane:
CTL0371
CTL0370
CTL0372
CT_118
CT_115
CT_117
CT_116

For example, https://www.uniprot.org/uniprot/B0B9M3

[2018-09-25 21:34] djow2019 opened #213 "Circular phylogenetic tree"
Incorporate this circular tree on landing page somehow.[Uploading... tree_circle_fixed.tif ]

[2018-09-26 16:31] djow2019 commented on #212
Requests submitted, pending response.

[2018-10-07 23:48] djow2019 opened #214 "Import HPI data"
Data: https://docs.google.com/spreadsheets/d/1YXIAOiJwrdWVvLinbsT1hsIPPe5flQ2aG6XnRKQYDnE/edit?usp=sharing

PMID: 26118995

[2018-10-07 23:48] djow2019 commented on #214
@khybiske would you like to also push this data to the orthologs as well?

[2019-03-12 23:22] andrewsu opened #215 "Actin localization not showing up in visualizer"
For example, this gene https://chlambase.org/organism/272561/gene/CT_456 has the GO term for "actin cytoskeleton" ([GO:0015629](http://amigo.geneontology.org/amigo/term/GO:0015629)), but the cell visualizer does not color the actin cytoskeleton red.

![2019-03-12_16-21-16](https://user-images.githubusercontent.com/2635409/54242767-0bef2e00-44e3-11e9-981f-ad6837d86297.png)

[2019-03-12 23:29] andrewsu opened #216 "image coloring in image visualizer blow up sometimes does not work"
For example, the thumbnail visualizer for https://chlambase.org/organism/471472/gene/CTL0370 correctly shows localization to the cell membrane and inclusion body membrane:

![2019-03-12_16-25-52](https://user-images.githubusercontent.com/2635409/54242916-9f286380-44e3-11e9-9ba2-77e27de6a48d.png)

But the full sized viewer shows no coloring.

![2019-03-12_16-27-01](https://user-images.githubusercon

[2019-03-12 23:31] andrewsu opened #217 "in localization visualizer, filter out IEA annotations"
after discussions with @khybiske, we decided it would be better to restrict the coloring of the Localization Visualizer to non-IEA annotations only.  Unfortunately, even if we remove these (incorrect) annotations in Wikidata, our bots will recreate them because we synchronize with the source databases.

[2019-03-13 00:11] djow2019 commented on #215
This line right here: https://github.com/SuLab/WikiGenomesBase/blob/master/wiki/static/wiki/js/app/main-page/gene-overview/cell-visualizer-view/cell-visualizer-view.component.js#L127. It is mapping to the go term for "host cytoskeleton", whereas actin cytoskeleton's parent is just cytoskeleton. In other words, they are different cytoskeleton terms.
![image](https://user-images.githubusercontent.co

[2019-03-13 00:26] djow2019 commented on #217
Put these lines inside an if statement: https://github.com/SuLab/WikiGenomesBase/blob/master/wiki/static/wiki/js/app/main-page/gene-overview/cell-visualizer-view/cell-visualizer-view.component.js#L21-L22. The "value" parameter is the data returned from the query here: https://github.com/SuLab/WikiGenomesBase/blob/master/wiki/static/wiki/js/app/resources/resources.service.js#L493. It should be: if

[2019-03-13 00:40] djow2019 commented on #216
I am not sure what the exact reason is, but I did notice that this bug occurs for all genes with "host cell membrane" as a cc (you can verify this with the advanced search). However, all the other components work (EB. RB, host cell lipid droplets, etc.). The only thing I can think of is that the color of the membranes is done using the "stroke" attribute, whereas the other structures are colored w

[2019-03-29 09:10] jjkoehorst opened #219 "Running a local wikigenomebase"
I am really interested in the wikigenomebase to see how you have implemented the genome browser with a sparql endpoint.

Therefor I cloned the project and had an attempt on installing the software on my macbook but ran into many issues. Is it possible to have a Dockerfile so I can better see what is going on and then also have a working wikigenomebase?

[2019-03-29 20:18] andrewsu commented on #219
Hi @jjkoehorst, thanks for your interest here.  Creating a Dockerfile is a really good idea, and I wish we'd done that earlier.  But unfortunately right now we're between developers so I don't have the resources to put on that at the moment...  But I tagged this as a potential intern project in the future...

[2020-01-14 01:41] andrewsu opened #220 "add chlambase reference"
Under the Chlambase publication link in the header, we currently show information for the [wikigenomes manuscript](https://academic.oup.com/database/article/doi/10.1093/database/bax025/3084697).  Update that to include information on this chlambase-specific paper: https://www.ncbi.nlm.nih.gov/pubmed/31211397

[2020-01-23 17:48] andrewsu opened #221 "error retrieving GO terms from Wikidata"
on this Chlambase page: https://chlambase.org/organism/471472/gene/CTL0784

we are executing [this query](https://query.wikidata.org/sparql?format=json&query=SELECT%20%3FgotermValueLabel%20%3FgoID%20%3FgotermValue%20%3Fgoclass%20%3Freference_retrievedLabel%20(GROUP_CONCAT(DISTINCT%20%3Freference_stated_label%3B%20SEPARATOR%20%3D%20%27%3B%20%27)%20AS%20%3Freference_stated_label)%20(GROUP_CONCAT(DIS

[2020-01-23 18:00] andrewsu commented on #221
FWIW, similar issue with this query that is also failing:

[code]

[2020-01-23 18:43] andrewsu opened #222 "remove broken/unnecessary calls to EBI for PDB structure images"
On the Chlambase page for [CTL0245](https://chlambase.org/organism/471472/gene/CTL0245), we make requests to these three URLs which return 404 errors:

https://www.ebi.ac.uk/pdbe/static/entry/_deposited_chain_front_image-800x800.png
https://www.ebi.ac.uk/pdbe/static/entry/_deposited_chain_side_image-800x800.png
https://www.ebi.ac.uk/pdbe/static/entry/_deposited_chain_top_image-800x800.png

CTL0245

[2020-01-23 20:02] andrawaag commented on #221
as per similar issue on [phabricator ](https://phabricator.wikimedia.org/T235540), the issue apparently relates to reuse of the same variable names. If the `GROUP_CONCAT(DISTINCT ?reference_stated_label; SEPARATOR = '; ') AS ?reference_stated_label)` is changed into `GROUP_CONCAT(DISTINCT ?reference_stated_label; SEPARATOR = '; ') AS ?reference_stated_label_)` the query gets [results](https://w.wi

[2020-01-23 20:11] andrawaag commented on #221
Likewise if the duplicate variable names in the GROUP_CONCAT are named differently the query return results.

[code]
[results](https://w.wiki/G3u)

Apparently, it was possible to reuse the single variable as the aggregated variable, but a update seems to have ended that feature.

In the related phabricator task it is discussed to reintroduce this.

[2020-01-24 01:37] andrewsu commented on #221
fixed in d46100c3c88445365d843ca5586144dccc8fbe90 and 56cb6815201266d2590212beab957737adfc1290

[2020-01-24 01:37] #221 closed